
@{
    ViewBag.Title = "Index";

    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/teacher.css" rel="stylesheet" />



<div class="row" style="background-color:white;">
    <div class="col-md-6" style="z-index:56464;">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">Simple</span>
                    <div class="caption-desc font-grey-cascade"> Default list element style. Activate by adding <pre class="mt-code">.list-simple</pre> class to the <pre class="mt-code">ul</pre> element. </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="mt-element-list">
                    <div class="mt-list-head list-simple font-white bg-red">
                        <div class="list-head-title-container">
                            <div class="list-date">Nov 8, 2015</div>
                            <h3 class="list-title">Simple List</h3>
                        </div>
                    </div>
                    <div class="mt-list-container list-simple">
                        <ul>
                            <li class="mt-list-item">
                                <div class="list-icon-container done">
                                    <i class="icon-check"></i>
                                </div>
                                <div class="list-datetime"> 8 Nov </div>
                                <div class="list-item-content">
                                    <h3 class="uppercase">
                                        <a href="javascript:;">Concept Proof</a>
                                    </h3>
                                </div>
                            </li>
                            <li class="mt-list-item">
                                <div class="list-icon-container">
                                    <i class="icon-close"></i>
                                </div>
                                <div class="list-datetime"> 8 Nov </div>
                                <div class="list-item-content">
                                    <h3 class="uppercase">
                                        <a href="javascript:;">Listings Feature</a>
                                    </h3>
                                </div>
                            </li>
                            <li class="mt-list-item">
                                <div class="list-icon-container">
                                    <i class="icon-close"></i>
                                </div>
                                <div class="list-datetime"> 8 Nov </div>
                                <div class="list-item-content">
                                    <h3 class="uppercase">
                                        <a href="javascript:;">Listings Feature</a>
                                    </h3>
                                </div>
                            </li>
                            <li class="mt-list-item">
                                <div class="list-icon-container done">
                                    <i class="icon-check"></i>
                                </div>
                                <div class="list-datetime"> 8 Nov </div>
                                <div class="list-item-content">
                                    <h3 class="uppercase">
                                        <a href="javascript:;">Listings Feature</a>
                                    </h3>
                                </div>
                            </li>
                            <li class="mt-list-item">
                                <div class="list-icon-container">
                                    <i class="icon-close"></i>
                                </div>
                                <div class="list-datetime"> 8 Nov </div>
                                <div class="list-item-content">
                                    <h3 class="uppercase">
                                        <a href="javascript:;">Listings Feature</a>
                                    </h3>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6" style="z-index:56464;">
        <div class="portlet light portlet-fit bordered">
            <div class="portlet-title">
                <div class="caption">
                    <i class=" icon-layers font-green"></i>
                    <span class="caption-subject font-green bold uppercase">Simple</span>
                    <div class="caption-desc font-grey-cascade"> Default list element style. Activate by adding <pre class="mt-code">.list-simple</pre> class to the <pre class="mt-code">ul</pre> element. </div>
                </div>
            </div>
            <div class="portlet-body">
                <div class="mt-element-list">
                    <div class="mt-list-head list-simple font-white bg-red">
                        <div class="list-head-title-container">
                            <div class="list-date">Nov 8, 2015</div>
                            <h3 class="list-title">Simple List</h3>
                        </div>
                    </div>
                    <div class="mt-list-container list-simple">
                        <ul>
                            <li class="mt-list-item">
                                <div class="list-icon-container done">
                                    <i class="icon-check"></i>
                                </div>
                                <div class="list-datetime"> 8 Nov </div>
                                <div class="list-item-content">
                                    <h3 class="uppercase">
                                        <a href="javascript:;">Concept Proof</a>
                                    </h3>
                                </div>
                            </li>
                            <li class="mt-list-item">
                                <div class="list-icon-container">
                                    <i class="icon-close"></i>
                                </div>
                                <div class="list-datetime"> 8 Nov </div>
                                <div class="list-item-content">
                                    <h3 class="uppercase">
                                        <a href="javascript:;">Listings Feature</a>
                                    </h3>
                                </div>
                            </li>
                            <li class="mt-list-item">
                                <div class="list-icon-container">
                                    <i class="icon-close"></i>
                                </div>
                                <div class="list-datetime"> 8 Nov </div>
                                <div class="list-item-content">
                                    <h3 class="uppercase">
                                        <a href="javascript:;">Listings Feature</a>
                                    </h3>
                                </div>
                            </li>
                            <li class="mt-list-item">
                                <div class="list-icon-container done">
                                    <i class="icon-check"></i>
                                </div>
                                <div class="list-datetime"> 8 Nov </div>
                                <div class="list-item-content">
                                    <h3 class="uppercase">
                                        <a href="javascript:;">Listings Feature</a>
                                    </h3>
                                </div>
                            </li>
                            <li class="mt-list-item">
                                <div class="list-icon-container">
                                    <i class="icon-close"></i>
                                </div>
                                <div class="list-datetime"> 8 Nov </div>
                                <div class="list-item-content">
                                    <h3 class="uppercase">
                                        <a href="javascript:;">Listings Feature</a>
                                    </h3>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="PartnerPublic_Location" style="text-align:center;">
    <div class="Container">
        <h3>Make an impact on students everywhere</h3>
        <h4>Earn money everywhere you go through flexible teaching locations in-person and online</h4>

        <div class="PartnerPublic_Location_Local">
            <div class="PartnerPublic_Location_Image">
                <img src="https://prod-takelessons.netdna-ssl.com/images/public/teachers/tch-lp-inperson.jpg" alt="Tch-lp-inperson">
            </div><div class="PartnerPublic_Location_Content">
                Teach <span class="PartnerPublic_Location_Name">locally</span>

                <p>
                    <strong>Choose your favorite teaching spot</strong>
                    You select where you'd like to teach, perhaps a cozy coffee shop, local library, or your home
                </p>

                <p>
                    <strong>Travel to students</strong>
                    Set your travel area and visit your students to teach lessons on the go around town
                </p>
            </div>
        </div>

        <div class="PartnerPublic_Location_Online">
            <div class="PartnerPublic_Location_Content">
                Teach online

                <p>
                    <strong>Expand your reach</strong>
                    Connect with even more students by teaching online lessons to students all over the US and around the globe
                </p>

                <p>
                    <strong>Online teaching made easy</strong>
                    TakeLessons Classroom provides the easiest way to conduct professional online video lessons, no hassles or downloads
                </p>
            </div><div class="PartnerPublic_Location_Image">
                <img src="https://prod-takelessons.netdna-ssl.com/images/public/teachers/tch-lp-online.jpg" alt="Tch-lp-online">
            </div>
        </div>
    </div>
</div>


<div class="PartnerPublic_FAQ" style="text-align:center;">
    <div class="Container">
        <h3>Common Questions</h3>

        <div class="PartnerPublic_FAQ_Entry">
            <div class="PartnerPublic_FAQ_Entry_Question">
                How do I join TakeLessons?
            </div>
            <div class="PartnerPublic_FAQ_Entry_Answer">

                The process of becoming a TakeLessons teaching partner is simple. All you need to do is fill out your profile details
                and experience, complete a background check, and agree to our independent contractor terms. We are actively seeking
                local and online teachers in every city in the United States and offer flexible online teaching options for teachers
                working internationally.
            </div>
        </div><div class="PartnerPublic_FAQ_Entry">
            <div class="PartnerPublic_FAQ_Entry_Question">
                How much does it cost to list my profile?
            </div>
            <div class="PartnerPublic_FAQ_Entry_Answer">

                Listing your profile to book new students through TakeLessons is completely free and unlike other websites,
                you never have to buy or bid for leads or students. TakeLessons assesses an administrative fee only when
                a fully-paid student is delivered to you (to cover marketing costs, student payment processing, and more).
                Once you start teaching lessons, you’ll earn up to 90% of the total lesson price per student. You have 100%
                control over your earnings at all times.
            </div>
        </div><div class="PartnerPublic_FAQ_Entry">
            <div class="PartnerPublic_FAQ_Entry_Question">
                How will new students find me?
            </div>
            <div class="PartnerPublic_FAQ_Entry_Answer">

                Thousands of new students come to TakeLessons every day looking for the perfect private instructor to help them achieve
                their goals. Students use our search filters to find teachers with awesome profile photos, detailed lesson descriptions,
                reviews, and the Background Checked badge (very popular with parents). We provide all the tools you need to make your
                way to the top of our search results where your profile will get the most views and bookings.
            </div>
        </div><div class="PartnerPublic_FAQ_Entry">
            <div class="PartnerPublic_FAQ_Entry_Question">
                What happens when I get a new student?
            </div>
            <div class="PartnerPublic_FAQ_Entry_Answer">

                Once a new student has booked and paid for lessons through your profile, we will send you an email alert and text
                message notification ASAP so you can start doing your happy dance. You have 48 hours to accept every new student
                through our online acceptance process.
            </div>
        </div><div class="PartnerPublic_FAQ_Entry">
            <div class="PartnerPublic_FAQ_Entry_Question">
                Am I guaranteed to get new students?
            </div>
            <div class="PartnerPublic_FAQ_Entry_Answer">

                No, we do not guarantee that you will receive new students. Why? The demand for lessons varies greatly depending on
                your geographic area and the subjects you teach. If you teach a rare subject, we recommend adding a few additional,
                more popular subjects to your profile (like singing, piano, guitar, or a foreign language) to improve your chances
                of booking new students.
            </div>
        </div><div class="PartnerPublic_FAQ_Entry">
            <div class="PartnerPublic_FAQ_Entry_Question">
                How do I get paid?
            </div>
            <div class="PartnerPublic_FAQ_Entry_Answer">

                Every week, you’ll receive payment for any lessons you taught delivered directly to your bank account.
                We handle all the billing and payment for your students’ lessons, so you never have to worry about accepting cash,
                checks, or chasing anyone down for payment. It’s super convenient, secure, and hassle-free for everyone.
            </div>
        </div>
    </div>
</div>