
@{
    ViewBag.Title = "Index";

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<main id="tg-main" class="tg-main tg-haslayout" style="background-color:white;">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 tg-features how_we_work_page">
                <div class="col-sm-8 become_a_tutor">
                    <div class="tg-feature">
                        <div class="pull-left">
                            <h4>Become a Tutor</h4>

                            <div class="tg-description">
                                <p>With us, you will be connected with students looking for top instructors in a wide range of grades and subjects. Find out how GradeXL Learning can help you grow and manage your business.</p>
                            </div>
                            <span class="arrow"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-offset-2 col-md-8 find_tutor_now">

                <a href="@Url.Action("RegisterTeacher", "Account", new {  })" class="tutor_signup red_button">Apply Now!</a>
            </div>
        </div>
    </div>
    <section class="tg-main-section tg-haslayout tg-parallaximg home_page_video_section"  style="background-image: url('../../Content/superior/images/children.jpg');">

        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 tutor_benifts">
                    <div class="tg-sectionhead">
                        <h4>Benefits of becoming a Superior Learning tutor</h4>
                    </div>
                </div>
            </div>
            <div class="row tutor_items_wraper">
                <div class="col-sm-3">
                    <div class="tutor_items">
                     
                        <img src="~/Content/superior/images/rate.png" />
                    </div>
                    <h3>Set Your Own Rate</h3>
                    <p>Choose your own hourly rate as per your skills and qualifications</p>
                </div>
                <div class="col-sm-3">
                    <div class="tutor_items">

                        <img src="~/Content/superior/images/student.png" />
                    </div>
                    <h3>Choose Your Own Students</h3>
                    <p>Select the students that best match your needs (distance, schedule)</p>
                </div>
                <div class="col-sm-3">
                    <div class="tutor_items">
                  
                        <img src="~/Content/superior/images/time.png" />
                    </div>
                    <h3>Teach At Your Own Time</h3>
                    <p>Book and tutor for sessions as per your availability and schedule</p>
                </div>
                <div class="col-sm-3">
                    <div class="tutor_items">
       
                        <img src="~/Content/superior/images/build.png" />
                    </div>
                    <h3>Build Your Own Brand</h3>
                    <p>Grow and manage your own successful tutoring business</p>
                </div>
            </div>
        </div>
    </section>
    <div class="container become_tutor">
        <div class="row">
            <h4 class="become_tutor_heading">How it works</h4>
            <div class="col-sm-8 col-sm-offset-2 tg-features how_we_work_page">
                <div class="col-sm-8">
                    <div class="tg-feature">
                        <div class="pull-left number_wraper">

                            1
                        </div>
                        <div class="pull-left description">
                            <h3><span class="red"></span>Make a free profile</h3>
                            <div class="tg-description">
                                <p>
                                    Create a rich profile that showcases your skills and
                                    qualifications to potential clients
                                </p>
                            </div>
                            <span class="arrow"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="tg-feature">
                        <div class="pull-left number_wraper">

                            2
                        </div>
                        <div class="pull-left description">
                            <h3><span class="red"></span>Get Access To Students</h3>
                            <div class="tg-description">
                                <p>
                                    GradeXL Learning provides you with the access to
                                    many students of all age groups
                                </p>
                            </div>
                            <span class="arrow"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="tg-feature">
                        <div class="pull-left number_wraper">

                            3
                        </div>
                        <div class="pull-left description">
                            <h3><span class="red"></span>Start Tutoring</h3>
                            <div class="tg-description">
                                <p>
                                    Communicate with interested clients, schedule your
                                    sessions, and manage your own tutoring business
                                </p>
                            </div>
                            <span class="arrow"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="tg-feature">
                        <div class="pull-left number_wraper">

                            4
                        </div>
                        <div class="pull-left description">
                            <h3><span class="red"></span>Earn ৳৳৳</h3>
                            <div class="tg-description">
                                <p>
                                    Receive quick, easy payments via emails transfer, cheque,
                                    or direct deposit
                                </p>
                            </div>
                            <span class="arrow"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
