<main id="tg-main" class="tg-main tg-haslayout" >
    <div class="container">
        <div class="row">
            <div id="tg-content" class="tg-content">
                <div class="col-lg-9 col-md-8 col-sm-7 col-xs-12 user_profile_section_wrapper">
                    <div>
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
                                <div id="profile_iamge_area">
                                    <form method="POST" action="https://www.superiorlearning.ca/tutor/profile/update-profile-image" accept-charset="UTF-8" class="hidden ui form edit_user_profile_image" enctype="multipart/form-data">
                                        <input name="_token" type="hidden" value="EWRwgSCR4r1uDgKmBCm9NHJ6Cyj946bAoBOyVZf4">
                                        <input type="file" name="user_profile_image_field" class="user_profile_image_field">
                                        <input type="submit" value="submit" class="wa">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <section class="tutors_listing">
                        <div class="row">
                            <div class="col-xs-12">
                                <h2>Tutors </h2>
                            </div>
                        </div>
                        <div class="row">
                            <div id="tg-twocolumns" class="tg-twocolumns">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-right">
                                    <div id="tg-content" class="tg-content">
                                        <div class="tg-tutors tg-tutorsgrid tutors_listing_wrap">
                                            <div class="tg-tutor">
                                                <figure class="tg-tutordp">
                                                    <a href="https://www.superiorlearning.ca/tutor/1"><img src="https://www.superiorlearning.ca/uploads/users/_thumb_1_29435480725c0182471ee36e2007a43dAlaa Youssef - Profile Picture.jpg" height="120" width="120" alt="image description"></a>
                                                    <ul class="tg-jobsmetadata tutor_list_meta">
                                                        <li>
                                                            <div class="rating_wrapper"><a><i class="fa fa-star"></i></a><a><i class="fa fa-star"></i></a><a><i class="fa fa-star"></i></a><a><i class="fa fa-star"></i></a><a><i class="fa fa-star-o"></i></a></div>
                                                        </li>
                                                        <li>
                                                            <a class="bookmark_this bookmark_btn " data-id="1"><i class="fa fa-bookmark-o"></i> <span>Bookmark</span></a>
                                                        </li>
                                                    </ul>
                                                </figure>
                                                <div class="tg-tutorinfo">
                                                    <div class="tg-jobhead">
                                                        <h3><a href="https://www.superiorlearning.ca/tutor/1">Alaa Youssef</a></h3>
                                                        <span class="tg-priceperhour">
                                                            $35 <em>Per Hour</em>
                                                        </span>
                                                        <div class="map_marker"><i class="fa fa-map-marker"></i> North York</div>
                                                        <div class="education_wrap">
                                                            <i class="fa fa-mortar-board"></i> Master of Science in Medical Science | University of Toronto
                                                        </div>
                                                    </div>
                                                    <div class="tg-description">
                                                        <p>
                                                            <strong>1. Please describe yourself in a few sentences.</strong><br><br>I am a passionate health science graduate currently pursuing my Masters Degree in Medical Sciences at the University of Toronto. I am an outgoing person who enjoys meeting and working with others. My strong passion in teaching Sciences since my undergraduate studies has allowed me to seek opportunities where I could help my peers and advance my teaching skills. I have successfully helped many students in various areas, most notably in....
                                                            <a href="https://www.superiorlearning.ca/tutor/1"><strong>Read More</strong></a>
                                                        </p>
                                                    </div>
                                                    <div class="tg-jobfoot">
                                                        <ul class="tg-tags show_hidden_subjects_wrap">
                                                            <li><a class="tg-tag" href="https://www.superiorlearning.ca/tutors?subject[]=biology">Biology</a></li>
                                                            <li><a class="tg-tag" href="https://www.superiorlearning.ca/tutors?subject[]=chemistry">Chemistry</a></li>
                                                            <li><a class="tg-tag" href="https://www.superiorlearning.ca/tutors?subject[]=physics">Physics</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tg-tutor">
                                                <figure class="tg-tutordp">
                                                    <a href="https://www.superiorlearning.ca/tutor/2"><img src="https://www.superiorlearning.ca/uploads/users/_thumb_2_fcb653cab290aab493b27cf3d8e98c58Anh Chu - Profile Picture.jpg" height="120" width="120" alt="image description"></a>
                                                    <ul class="tg-jobsmetadata tutor_list_meta">
                                                        <li>
                                                            <div class="rating_wrapper"><a><i class="fa fa-star"></i></a><a><i class="fa fa-star"></i></a><a><i class="fa fa-star"></i></a><a><i class="fa fa-star"></i></a><a><i class="fa fa-star-o"></i></a></div>
                                                        </li>
                                                        <li>
                                                            <a class="bookmark_this bookmark_btn  login_before_bookmark" data-id="2"><i class="fa fa-bookmark-o"></i> <span>Bookmark</span></a>
                                                        </li>
                                                    </ul>
                                                </figure>
                                                <div class="tg-tutorinfo">
                                                    <div class="tg-jobhead">
                                                        <h3><a href="https://www.superiorlearning.ca/tutor/2">Anh Chu</a></h3>
                                                        <span class="tg-priceperhour">
                                                            $40 <em>Per Hour</em>
                                                        </span>
                                                        <div class="map_marker"><i class="fa fa-map-marker"></i> Mississauga</div>
                                                        <div class="education_wrap">
                                                            <i class="fa fa-mortar-board"></i> PhD candidate in Biochemistry | University of Toronto
                                                        </div>
                                                    </div>
                                                    <div class="tg-description">
                                                        <p><strong>1. Please describe yourself in a few sentences.</strong></p>
                                                        <p>
                                                            I am PhD candidate in Biochemistry at University of Toronto. I have 5 years experience as private tutor, and volunteered with Toronto District School Board as mentor for Saturday programs for highschool students. With a strong background in science and success in my studies, I am eager to provide students with support and helpful strategies to succeed in school.&nbsp;<br><br><strong>
                                                                2. What is your tutoring approach? Give us your history working with....
                                                                <a href="https://www.superiorlearning.ca/tutor/2"><strong>Read More</strong></a>
                                                            </strong>
                                                        </p>
                                                    </div><strong>
                                                        <div class="tg-jobfoot">
                                                            <ul class="tg-tags show_hidden_subjects_wrap">
                                                                <li><a class="tg-tag" href="https://www.superiorlearning.ca/tutors?subject[]=elementary-math">Elementary Math</a></li>
                                                                <li><a class="tg-tag" href="https://www.superiorlearning.ca/tutors?subject[]=biology">Biology</a></li>
                                                                <li><a class="tg-tag" href="https://www.superiorlearning.ca/tutors?subject[]=chemistry">Chemistry</a></li>
                                                                <li><a class="tg-tag" href="https://www.superiorlearning.ca/tutors?subject[]=physics">Physics</a></li>
                                                                <li><a class="tg-tag" href="https://www.superiorlearning.ca/tutors?subject[]=elementary-science">Elementary Science</a></li>
                                                                <li><a class="tg-tag" href="https://www.superiorlearning.ca/tutors?subject[]=organic-chemistry">Organic Chemistry</a></li>
                                                            </ul>
                                                        </div>
                                                    </strong>
                                                </div><strong>
                                                </strong>
                                            </div><strong>
                                                <div class="tg-tutor">
                                                    <figure class="tg-tutordp">
                                                        <a href="https://www.superiorlearning.ca/tutor/3"><img src="https://www.superiorlearning.ca/assets/front/images/basic_avatars/A-n.png" height="120" width="120" alt="image description"></a>
                                                        <ul class="tg-jobsmetadata tutor_list_meta">
                                                            <li>
                                                                <div class="rating_wrapper"><a><i class="fa fa-star"></i></a><a><i class="fa fa-star"></i></a><a><i class="fa fa-star"></i></a><a><i class="fa fa-star"></i></a><a><i class="fa fa-star-o"></i></a></div>
                                                            </li>
                                                            <li>
                                                                <a class="bookmark_this bookmark_btn " data-id="3"><i class="fa fa-bookmark-o"></i> <span>Bookmark</span></a>
                                                            </li>
                                                        </ul>
                                                    </figure>
                                                    <div class="tg-tutorinfo">
                                                        <div class="tg-jobhead">
                                                            <h3><a href="https://www.superiorlearning.ca/tutor/3">Antonella Pagano</a></h3>
                                                            <span class="tg-priceperhour">
                                                                $35 <em>Per Hour</em>
                                                            </span>
                                                            <div class="map_marker"><i class="fa fa-map-marker"></i> Vaughan</div>
                                                            <div class="education_wrap">
                                                                <i class="fa fa-mortar-board"></i> BA/BEd in Children Studies and Concurrent Education Program | York University
                                                            </div>
                                                        </div>
                                                        <div class="tg-description">
                                                            <p>
                                                                <strong>1. Please describe yourself in a few sentences.</strong><br><br>I am a third year student at York University, enrolled in the Children Studies and Concurrent Education program. I have tutored students one on one in a classroom and home setting. I am patient, positive and flexible, which allows tutoring sessions to run smoothly. My favourite part about tutoring, is encouraging students to tackle their tasks and showing enthusiasm when their goal is complete.<br><br><strong>
                                                                    2. What is your tutoring approach?....
                                                                    <a href="https://www.superiorlearning.ca/tutor/3"><strong>Read More</strong></a>
                                                                </strong>
                                                            </p>
                                                        </div><strong>
                                                            <div class="tg-jobfoot">
                                                                <ul class="tg-tags show_hidden_subjects_wrap">
                                                                    <li><a class="tg-tag" href="https://www.superiorlearning.ca/tutors?subject[]=elementary-math">Elementary Math</a></li>
                                                                    <li><a class="tg-tag" href="https://www.superiorlearning.ca/tutors?subject[]=elementary-science">Elementary Science</a></li>
                                                                    <li><a class="tg-tag" href="https://www.superiorlearning.ca/tutors?subject[]=italian">Italian</a></li>
                                                                    <li><a class="tg-tag" href="https://www.superiorlearning.ca/tutors?subject[]=reading">Reading</a></li>
                                                                    <li><a class="tg-tag" href="https://www.superiorlearning.ca/tutors?subject[]=vocabulary">Vocabulary</a></li>
                                                                    <li><a class="tg-tag" href="https://www.superiorlearning.ca/tutors?subject[]=writing">Writing</a></li>
                                                                    <li><a class="tg-tag" href="https://www.superiorlearning.ca/tutors?subject[]=grammar">Grammar</a></li>
                                                                    <li><a class="tg-tag" href="https://www.superiorlearning.ca/tutors?subject[]=spelling">Spelling</a></li>
                                                                    <li><a class="tg-tag" href="https://www.superiorlearning.ca/tutors?subject[]=elementary-english">Elementary English</a></li>
                                                                    <li><a class="tg-tag" href="https://www.superiorlearning.ca/tutors?subject[]=elementary-social-studies">Elementary Social Studies</a></li>
                                                                </ul>
                                                            </div>
                                                        </strong>
                                                    </div><strong>
                                                    </strong>
                                                </div><strong>
                                                    <div class="tg-tutor">
                                                        <figure class="tg-tutordp">
                                                            <a href="https://www.superiorlearning.ca/tutor/7"><img src="https://www.superiorlearning.ca/uploads/users/_thumb_7_f4b68c9db7b1508ad68dcf59253f67aeBrian Li - Profile Picture.jpg" height="120" width="120" alt="image description"></a>
                                                            <ul class="tg-jobsmetadata tutor_list_meta">
                                                                <li>
                                                                    <div class="rating_wrapper"><a><i class="fa fa-star"></i></a><a><i class="fa fa-star"></i></a><a><i class="fa fa-star"></i></a><a><i class="fa fa-star"></i></a><a><i class="fa fa-star-o"></i></a></div>
                                                                </li>
                                                                <li>
                                                                    <a class="bookmark_this bookmark_btn " data-id="7"><i class="fa fa-bookmark-o"></i> <span>Bookmark</span></a>
                                                                </li>
                                                            </ul>
                                                        </figure>
                                                        <div class="tg-tutorinfo">
                                                            <div class="tg-jobhead">
                                                                <h3><a href="https://www.superiorlearning.ca/tutor/7">Brian Li</a></h3>
                                                                <span class="tg-priceperhour">
                                                                    $35 <em>Per Hour</em>
                                                                </span>
                                                                <div class="map_marker"><i class="fa fa-map-marker"></i> Toronto</div>
                                                                <div class="education_wrap">
                                                                    <i class="fa fa-mortar-board"></i> MSc in Cancer and Genetics in Medical | McMaster University
                                                                </div>
                                                            </div>
                                                            <div class="tg-description">
                                                                <p>
                                                                    <strong>1. Please describe yourself in a few sentences.</strong><br><br>One of my favourite aspects of graduate school was teaching undergraduate students. Even though I've graduated and currently working full-time in cancer research, I'm hoping to get back into teaching part-time. Send me a message and I'd be happy to work something out with you!&nbsp;<br><br><strong>2. What is your tutoring approach? Give us your history working with students</strong><br><br>I strive to engage students in their learning and help them....
                                                                    <a href="https://www.superiorlearning.ca/tutor/7"><strong>Read More</strong></a>
                                                                </p>
                                                            </div>
                                                            <div class="tg-jobfoot">
                                                                <ul class="tg-tags show_hidden_subjects_wrap">
                                                                    <li><a class="tg-tag" href="https://www.superiorlearning.ca/tutors?subject[]=functions">Functions</a></li>
                                                                    <li><a class="tg-tag" href="https://www.superiorlearning.ca/tutors?subject[]=calculus-and-vectors">Calculus and Vectors</a></li>
                                                                    <li><a class="tg-tag" href="https://www.superiorlearning.ca/tutors?subject[]=elementary-math">Elementary Math</a></li>
                                                                    <li><a class="tg-tag" href="https://www.superiorlearning.ca/tutors?subject[]=geometry">Geometry</a></li>
                                                                    <li><a class="tg-tag" href="https://www.superiorlearning.ca/tutors?subject[]=grade-9-10-math">Grade 9/10 Math</a></li>
                                                                    <li><a class="tg-tag" href="https://www.superiorlearning.ca/tutors?subject[]=biology">Biology</a></li>
                                                                    <li><a class="tg-tag" href="https://www.superiorlearning.ca/tutors?subject[]=chemistry">Chemistry</a></li>
                                                                    <li><a class="tg-tag" href="https://www.superiorlearning.ca/tutors?subject[]=physics">Physics</a></li>
                                                                    <li><a class="tg-tag" href="https://www.superiorlearning.ca/tutors?subject[]=psychology">Psychology</a></li>
                                                                    <li><a class="tg-tag" href="https://www.superiorlearning.ca/tutors?subject[]=elementary-science">Elementary Science</a></li>
                                                                    <li><a class="tg-tag" href="https://www.superiorlearning.ca/tutors?subject[]=grade-9-10-science">Grade 9/10 Science</a></li>
                                                                    <li><a class="tg-tag" href="https://www.superiorlearning.ca/tutors?subject[]=reading">Reading</a></li>
                                                                    <li><a class="tg-tag" href="https://www.superiorlearning.ca/tutors?subject[]=vocabulary">Vocabulary</a></li>
                                                                    <li><a class="tg-tag" href="https://www.superiorlearning.ca/tutors?subject[]=writing">Writing</a></li>
                                                                    <li><a class="tg-tag" href="https://www.superiorlearning.ca/tutors?subject[]=grammar">Grammar</a></li>
                                                                    <li><a class="tg-tag" href="https://www.superiorlearning.ca/tutors?subject[]=esl-esol">ESL/ESOL</a></li>
                                                                    <li><a class="tg-tag" href="https://www.superiorlearning.ca/tutors?subject[]=spelling">Spelling</a></li>
                                                                    <li><a class="tg-tag" href="https://www.superiorlearning.ca/tutors?subject[]=elementary-english">Elementary English</a></li>
                                                                    <li><a class="tg-tag" href="https://www.superiorlearning.ca/tutors?subject[]=psychology">Psychology</a></li>
                                                                    <li class="show_hidden_subjects"><span class="small">and</span> <strong>9</strong> more</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="lazy_loading_pagination ui form">
                                                        <ul class="pagination">
                                                            <li class="disabled"><span>«</span></li>
                                                            <li class="active"><span>1</span></li>
                                                            <li><a href="https://www.superiorlearning.ca/tutors?age=16-65&amp;fee=%2410-%2470&amp;gender=&amp;page=2">2</a></li>
                                                            <li><a href="https://www.superiorlearning.ca/tutors?age=16-65&amp;fee=%2410-%2470&amp;gender=&amp;page=3">3</a></li>
                                                            <li><a href="https://www.superiorlearning.ca/tutors?age=16-65&amp;fee=%2410-%2470&amp;gender=&amp;page=4">4</a></li>
                                                            <li><a href="https://www.superiorlearning.ca/tutors?age=16-65&amp;fee=%2410-%2470&amp;gender=&amp;page=5">5</a></li>
                                                            <li><a href="https://www.superiorlearning.ca/tutors?age=16-65&amp;fee=%2410-%2470&amp;gender=&amp;page=6">6</a></li>
                                                            <li><a href="https://www.superiorlearning.ca/tutors?age=16-65&amp;fee=%2410-%2470&amp;gender=&amp;page=7">7</a></li>
                                                            <li><a href="https://www.superiorlearning.ca/tutors?age=16-65&amp;fee=%2410-%2470&amp;gender=&amp;page=8">8</a></li>
                                                            <li><a href="https://www.superiorlearning.ca/tutors?age=16-65&amp;fee=%2410-%2470&amp;gender=&amp;page=9">9</a></li>
                                                            <li><a href="https://www.superiorlearning.ca/tutors?age=16-65&amp;fee=%2410-%2470&amp;gender=&amp;page=10">10</a></li>
                                                            <li><a href="https://www.superiorlearning.ca/tutors?age=16-65&amp;fee=%2410-%2470&amp;gender=&amp;page=11">11</a></li>
                                                            <li><a href="https://www.superiorlearning.ca/tutors?age=16-65&amp;fee=%2410-%2470&amp;gender=&amp;page=2" rel="next">»</a></li>
                                                        </ul>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12 text-center">
                                                            <a class="load_more_tutor_button">More Results</a>
                                                        </div>
                                                    </div>
                                                </strong>
                                            </strong>
                                        </div><strong>
                                            <strong>
                                            </strong>
                                        </strong>
                                    </div><strong>
                                        <strong>
                                        </strong>
                                    </strong>
                                </div><strong>
                                    <strong>
                                    </strong>
                                </strong>
                            </div><strong>
                                <strong>
                                </strong>
                            </strong>
                        </div><strong>
                            <strong>
                            </strong>
                        </strong>
                    </section><strong>
                        <strong>
                        </strong>
                    </strong>
                </div><strong>
                    <strong>
                        <div class="col-lg-3 col-md-4 col-sm-5 col-xs-12 pull-left">
                            <h4>Filters</h4>
                            <aside id="tg-sidebar" class="tg-sidebar">
                                <form class="tg-formjobsearch tutor_search_filter">
                                    <fieldset>
                                        <div class="tg-widget">
                                            <div class="tg-widgettitle">
                                                <h3>City</h3>
                                            </div>

                                            <div class="">
                                                <div class="form-group">

                                                    <div class="tg-select searchable_subjects_wrapper">
                                                        <select name="city[]" class="city_filter searchable_subjects_multiple" multiple="multiple" style="display: none;">
                                                            <option value="ajax"> Ajax </option>
                                                            <option value="aurora"> Aurora </option>
                                                            <option value="brampton"> Brampton </option>
                                                            <option value="east-york"> East York </option>
                                                            <option value="etobicoke"> Etobicoke </option>
                                                            <option value="markham"> Markham </option>
                                                            <option value="mississauga"> Mississauga </option>
                                                            <option value="newmarket"> Newmarket </option>
                                                            <option value="north-york"> North York </option>
                                                            <option value="oakville"> Oakville </option>
                                                            <option value="pickering"> Pickering </option>
                                                            <option value="richmond-hill"> Richmond Hill </option>
                                                            <option value="scarborough"> Scarborough </option>
                                                            <option value="toronto"> Toronto </option>
                                                            <option value="vaughan"> Vaughan </option>
                                                            <option value="york"> York </option>
                                                        </select><div class="chosen-container chosen-container-multi" style="width: 221px;" title=""><ul class="chosen-choices"><li class="search-field"><input type="text" value="Select Some Options" class="default" autocomplete="off" style="width: 168px;"></li></ul><div class="chosen-drop"><ul class="chosen-results"></ul></div></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tg-widget bordered">
                                            <div class="tg-widgettitle tg-paddingtop">
                                                <h3>Subjects</h3>
                                            </div>
                                            <div class="">
                                                <div class="form-group">

                                                    <div class="tg-select searchable_subjects_wrapper">
                                                        <select name="subject[]" class="subject_filter searchable_subjects_multiple" multiple="multiple" style="display: none;">
                                                            <option value=""> Select Subject </option>
                                                            <optgroup label="Math">
                                                                <option value="functions">Functions</option>
                                                                <option value="calculus-and-vectors">Calculus and Vectors</option>
                                                                <option value="statistics-data-management">Statistics / Data Management</option>
                                                                <option value="discrete-math">Discrete Math</option>
                                                                <option value="econometrics">Econometrics</option>
                                                                <option value="linear-algebra">Linear Algebra</option>
                                                                <option value="elementary-math">Elementary Math</option>
                                                                <option value="sat-math">SAT Math</option>
                                                                <option value="gre-math">GRE Math</option>
                                                                <option value="act-math">ACT Math</option>
                                                                <option value="gmat-math">GMAT Math</option>
                                                                <option value="ged-math">GED Math</option>
                                                                <option value="geometry">Geometry</option>
                                                                <option value="grade-9-10-math">Grade 9/10 Math</option>
                                                                <option value="trigonometry">Trigonometry</option>
                                                                <option value="differential-calculus">Differential Calculus</option>
                                                                <option value="integral-calculus">Integral Calculus</option>
                                                                <option value="actuarial-science">Actuarial Science</option>
                                                                <option value="financial-math">Financial Math</option>
                                                            </optgroup>
                                                            <optgroup label="Science">
                                                                <option value="biology">Biology</option>
                                                                <option value="chemistry">Chemistry</option>
                                                                <option value="physics">Physics</option>
                                                                <option value="psychology">Psychology</option>
                                                                <option value="elementary-science">Elementary Science</option>
                                                                <option value="mcat">MCAT</option>
                                                                <option value="pcat">PCAT</option>
                                                                <option value="grade-9-10-science">Grade 9/10 Science</option>
                                                                <option value="act-science">ACT Science</option>
                                                                <option value="organic-chemistry">Organic Chemistry</option>
                                                                <option value="mechanical-engineering">Mechanical Engineering</option>
                                                                <option value="geology">Geology</option>
                                                                <option value="ecology">Ecology</option>
                                                                <option value="dat">DAT</option>
                                                                <option value="physiology">Physiology</option>
                                                                <option value="anatomy">Anatomy</option>
                                                            </optgroup>
                                                            <optgroup label="Language">
                                                                <option value="french">French</option>
                                                                <option value="italian">Italian</option>
                                                                <option value="spanish">Spanish</option>
                                                                <option value="german">German</option>
                                                                <option value="chinese">Chinese</option>
                                                                <option value="farsi">Farsi</option>
                                                                <option value="arabic">Arabic</option>
                                                                <option value="punjabi">Punjabi</option>
                                                                <option value="hindi">Hindi</option>
                                                                <option value="urdu">Urdu</option>
                                                                <option value="hebrew">Hebrew</option>
                                                                <option value="russian">Russian</option>
                                                                <option value="turkish">Turkish</option>
                                                                <option value="portuguese">Portuguese</option>
                                                                <option value="greek">Greek</option>
                                                            </optgroup>
                                                            <optgroup label="English">
                                                                <option value="reading">Reading</option>
                                                                <option value="vocabulary">Vocabulary</option>
                                                                <option value="writing">Writing</option>
                                                                <option value="grammar">Grammar</option>
                                                                <option value="toefl-ielts">TOEFL / IELTS</option>
                                                                <option value="esl-esol">ESL/ESOL</option>
                                                                <option value="spelling">Spelling</option>
                                                                <option value="gmat-english">GMAT English</option>
                                                                <option value="sat-english">SAT English</option>
                                                                <option value="gre-english">GRE English</option>
                                                                <option value="act-english">ACT English</option>
                                                                <option value="ged-english">GED English</option>
                                                                <option value="elementary-english">Elementary English</option>
                                                            </optgroup>
                                                            <optgroup label="Social Science">
                                                                <option value="geography">Geography</option>
                                                                <option value="civics-and-careers">Civics and Careers</option>
                                                                <option value="political-science">Political Science</option>
                                                                <option value="economics">Economics</option>
                                                                <option value="psychology">Psychology</option>
                                                                <option value="sociology">Sociology</option>
                                                                <option value="anthropology">Anthropology</option>
                                                                <option value="archaeology">Archaeology</option>
                                                                <option value="philosophy">Philosophy</option>
                                                                <option value="world-history">World History</option>
                                                                <option value="canadian-history">Canadian History</option>
                                                                <option value="law">Law</option>
                                                                <option value="elementary-social-studies">Elementary Social Studies</option>
                                                            </optgroup>
                                                            <optgroup label="Music"></optgroup>
                                                            <optgroup label="Other">
                                                                <option value="gmat">GMAT</option>
                                                                <option value="gre">GRE</option>
                                                                <option value="sat">SAT</option>
                                                                <option value="act">ACT</option>
                                                                <option value="lsat">LSAT</option>
                                                                <option value="mcat">MCAT</option>
                                                                <option value="dat">DAT</option>
                                                                <option value="pcat">PCAT</option>
                                                                <option value="vcat">VCAT</option>
                                                                <option value="microsoft-office">Microsoft Office</option>
                                                                <option value="computer-science">Computer Science</option>
                                                                <option value="computer-studies">Computer Studies</option>
                                                                <option value="computer-programming">Computer Programming</option>
                                                                <option value="website-programming">Website Programming</option>
                                                                <option value="application-programming">Application Programming</option>
                                                                <option value="finance">Finance</option>
                                                                <option value="economics">Economics</option>
                                                                <option value="accounting">Accounting</option>
                                                                <option value="business">Business</option>
                                                                <option value="career-development">Career Development</option>
                                                                <option value="string-instruments">String instruments</option>
                                                                <option value="woodwind-instruments">Woodwind instruments</option>
                                                                <option value="brass-instruments">Brass instruments</option>
                                                                <option value="percussion-instruments">Percussion instruments</option>
                                                                <option value="autism">Autism</option>
                                                                <option value="add-adhd">ADD / ADHD</option>
                                                                <option value="aspergers-syndrome">Asperger's Syndrome</option>
                                                                <option value="dyslexia">Dyslexia</option>
                                                                <option value="non-verbal-learning
disabilities">
                                                                    Non-Verbal Learning
                                                                    Disabilities
                                                                </option>
                                                                <option value="auditory-and-visual
processing-disorders">
                                                                    Auditory and Visual
                                                                    Processing Disorders
                                                                </option>
                                                                <option value="business">Business</option>
                                                            </optgroup>
                                                        </select><div class="chosen-container chosen-container-multi" style="width: 221px;" title=""><ul class="chosen-choices"><li class="search-field"><input type="text" value="Select Some Options" class="default" autocomplete="off" style="width: 168px;"></li></ul><div class="chosen-drop"><ul class="chosen-results"></ul></div></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="tg-widget bordered">
                                            <div class="tg-widgettitle tg-paddingtop">
                                                <h3>Availability</h3>
                                            </div>
                                            <div class="tg-widgetcontent">
                                                <div class="form-group">
                                                    <div class="tg-filterscrollbar tg-themescrollbar tg-subjectcheckbox mCustomScrollbar _mCS_1 mCS_no_scrollbar">
                                                        <div id="mCSB_1" class="mCustomScrollBox mCS-light mCSB_vertical mCSB_inside" style="max-height: none;" tabindex="0">
                                                            <div id="mCSB_1_container" class="mCSB_container mCS_y_hidden mCS_no_scrollbar_y" style="position:relative; top:0; left:0;" dir="ltr">
                                                                <div>
                                                                    <span class="tg-checkbox">
                                                                        <input type="checkbox" id="day1" name="availability[]" value="1">
                                                                        <label for="day1">Sunday</label>
                                                                    </span>
                                                                </div>
                                                                <div>
                                                                    <span class="tg-checkbox">
                                                                        <input type="checkbox" id="day2" name="availability[]" value="2">
                                                                        <label for="day2">Monday</label>
                                                                    </span>
                                                                </div>
                                                                <div>
                                                                    <span class="tg-checkbox">
                                                                        <input type="checkbox" id="day3" name="availability[]" value="3">
                                                                        <label for="day3">Tuesday</label>
                                                                    </span>
                                                                </div>
                                                                <div>
                                                                    <span class="tg-checkbox">
                                                                        <input type="checkbox" id="day4" name="availability[]" value="4">
                                                                        <label for="day4">Wednesday</label>
                                                                    </span>
                                                                </div>
                                                                <div>
                                                                    <span class="tg-checkbox">
                                                                        <input type="checkbox" id="day5" name="availability[]" value="5">
                                                                        <label for="day5">Thursday</label>
                                                                    </span>
                                                                </div>
                                                                <div>
                                                                    <span class="tg-checkbox">
                                                                        <input type="checkbox" id="day6" name="availability[]" value="6">
                                                                        <label for="day6">Friday</label>
                                                                    </span>
                                                                </div>
                                                                <div>
                                                                    <span class="tg-checkbox">
                                                                        <input type="checkbox" id="day7" name="availability[]" value="7">
                                                                        <label for="day7">Saturday</label>
                                                                    </span>
                                                                </div>
                                                            </div><div id="mCSB_1_scrollbar_vertical" class="mCSB_scrollTools mCSB_1_scrollbar mCS-light mCSB_scrollTools_vertical" style="display: none;"><div class="mCSB_draggerContainer"><div id="mCSB_1_dragger_vertical" class="mCSB_dragger" style="position: absolute; min-height: 30px; height: 0px; top: 0px;"><div class="mCSB_dragger_bar" style="line-height: 30px;"></div></div><div class="mCSB_draggerRail"></div></div></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="tg-widget bordered">
                                            <div class="tg-widgettitle">
                                                <h3>Hourly Fee</h3>
                                            </div>
                                            <div class="tg-widgetcontent">
                                                <div id="tg-feerangeslider" class="tg-feerangeslider tg-themerangeslider ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"><div class="ui-slider-range ui-corner-all ui-widget-header" style="left: 0%; width: 100%;"></div><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 0%;"></span><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 100%;"></span></div>
                                                <div class="tg-amountbox">
                                                    <input type="text" id="tg-feerangeamount" name="fee" readonly="">
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="tg-widget">
                                            <br>
                                            <div class="tg-widgettitle">
                                                <h3>Age Range</h3>
                                            </div>
                                            <div class="tg-widgetcontent">
                                                <div class="tg-widgetcontent">
                                                    <div id="tg-agerangeslider" class="tg-agerangeslider tg-themerangeslider ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"><div class="ui-slider-range ui-corner-all ui-widget-header" style="left: 0%; width: 100%;"></div><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 0%;"></span><span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 100%;"></span></div>
                                                    <div class="tg-amountbox">
                                                        <input type="text" id="tg-agerangeamount" name="age" readonly="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tg-widget bordered">
                                            <br>
                                            <div class="tg-widgettitle">
                                                <h3>Gender</h3>
                                            </div>
                                            <div class="tg-widgetcontent">
                                                <div class="tg-widgetcontent">
                                                    <div class="form-group">
                                                        <div class="tg-select">
                                                            <select class="" name="gender">
                                                                <option value=""> No Preference </option>
                                                                <option value="male"> Male </option>
                                                                <option value="female"> Female </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>

                                        <div class="">
                                            <button class="filter_button">SEARCH</button>
                                        </div>
                                    </fieldset>
                                </form>
                            </aside>
                        </div>
                    </strong>
                </strong>
            </div><strong>
                <strong>
                </strong>
            </strong>
        </div><strong>
            <strong>
            </strong>
        </strong>
    </div><strong>
        <strong>
        </strong>
    </strong>
</main>
