<section class="tg-main-section tg-haslayout homepage_how_we_work_section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center">
                    <h2 style="font-size:65px; color:#000;">Easy as <span class="red" style="letter-spacing:5px;">1,2,3</span></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <div class="tg-features">
                    <div class="col-sm-4">
                        <div class="tg-feature">
                            <img src="https://www.superiorlearning.ca/assets/front/images/icon1.png">
                            <h3><span class="red">A. </span>Choose</h3>
                            <p style="font-size:16px;">Your category, Class, Subject, Location and Range</p>
                            <span class="arrow"></span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="tg-feature">
                            <img src="https://www.superiorlearning.ca/assets/front/images/icon2.png">
                            <h3><span class="red">B. </span>Select</h3>
                            <p style="font-size:16px;">Your ideal tutor as per your needs (budget, educational requirements)</p>
                            <span class="arrow"></span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="tg-feature">
                            <img src="https://www.superiorlearning.ca/assets/front/images/icon3.png">
                            <h3><span class="red">C. </span>Contact</h3>
                            <p style="font-size:16px;">your ideal instructor. Send them a message &amp; book for lessons</p>
                            <span class="arrow"></span>
                        </div>
                    </div>
                    <div class="col-sm-12 text-center">
                        <a href="https://www.superiorlearning.ca/tutors" class="red_button">FIND A TUTOR NOW!</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

