<main id="tg-main" class="tg-main tg-haslayout"  style="background-color:white;">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                @Html.Partial("_FAQMenu")
            </div>
            <div class="col-md-9">
                <h4>FAQ for Parents &amp; Students </h4>
                <div class="ui styled accordion">
                    <div class="title active">
                        <i class="dropdown icon"></i>
                        1.	How does Superior Learning work?
                    </div>
                    <div class="content active">
                        <p class="transition ">
                            Easy as a A-B-C.
                            <br>
                            A. Choose your subject, grade, and location<br>
                            B. View the tutor's profile and select the one that matches your requirements (as per location, subject, price, experience)<br>
                            C. Contact your selected tutor, send them a message, book an appointment, and pay online
                            You may want to message several tutors before finding the right one for you. For more details, see <a href="/about/how-we-work" title="How we work">How We Work</a>
                        </p>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>
                        2.	How do I select a tutor?
                    </div>
                    <div class="content">
                        <p class="transition ">Very simple! On our Home page, choose your subject, grade, and location and our system will find tutors as per your criteria. You can view each tutor's profile, skills, experiences, availability, and feedback before making your decision on the tutor. </p>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>
                        3.	Where can I sign up?
                    </div> <div class="content">
                        <p class="transition ">
                            There is a Sign Up button at the top right of the page. You can sign up using your Facebook, Google Plus, or email.
                        </p>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>
                        4.	What if I don't like the tutor?
                    </div> <div class="content">
                        <p class="transition ">
                            We continuously do our best to ensure that our tutors possess the highest level of educational and personal attributes. However, if you feel that your tutor is not your right match, please look for another tutor that better matches your needs and email our Support Team at info@superiorlearning.ca so we can investigate your request.
                        </p>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>
                        6.	Where will the tutoring sessions be held?
                    </div> <div class="content">
                        <p class="transition ">
                            Unlike most tutoring companies where you are limited to your house or a learning centre, our sessions provide you with the flexibility to receive instruction anywhere. When booking your appointment with the tutor, a page will pop-up where you can insert the date, time, and more importantly, location address. When accepted by the tutor, this will be the place where the session is held.
                        </p>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>
                        7.	Can I give feedback on my tutor?
                    </div> <div class="content">
                        <p class="transition ">
                            Absolutely and we encourage it. There are two ways you can submit a feedback. One is for Superior Learning as a whole and the second is for your tutor. <br>
                            <br>For Superior Learning<br>You can submit your feedback about our services and your experiences working with us. Visit our Testimonials page and submit a review by clicking Give My Feedback. Once submitted, it is reviewed by us to ensure it adheres to our terms. <br><br>For Specific Tutor<br>Students can provide their feedback on their tutors up to 30 days after the completion of their last session. When a review has been submitted, it is examined by us to ensure its compliance with our terms. Once approved, it is posted on the tutor's profile page for potential students to view.
                        </p>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>
                        8.	The tutor did not respond. What should I do?
                    </div> <div class="content">
                        <p class="transition ">
                            We constantly work to ensure that our tutors' list remains updated and avoid this from occurring. However, if this incident does occur, email our Team at info@superiorlearning.ca and we will do our best to connect you with our other qualified tutors at the earliest opportunity.
                        </p>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>
                        9.	I cannot find a tutor for my subject. What should I do?
                    </div> <div class="content">
                        <p class="transition ">
                            No worries. Please send our Support Team an email at info@superiorlearning.ca and we will be pleased to help you find your ideal tutor.
                        </p>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>
                        10.	Would I receive any resources/homework after the completion of a session?
                    </div> <div class="content">
                        <p class="transition ">
                            Please notify your tutor prior or during the session. You may also email our Support Team at info@superiorlearning.ca for practice worksheets.
                            Please note this service is only applicable to clients using our platform.
                        </p>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>
                        11.	What is Superior Learning's cancellation policy?
                    </div> <div class="content">
                        <p class="transition ">
                            Each tutor on Superior Learning set their own cancellation policies. You can view their cancellation policies on their page, under the Profile tab. We recommend that you speak with the tutor using our Messaging system to get further details.
                        </p>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>
                        12.	What does it mean by Average, Frequent, and Superior responder?
                    </div> <div class="content">
                        <p class="transition ">
                            To be determined.
                        </p>
                    </div>
                    <div class="title">
                        <i class="dropdown icon"></i>
                        13.	Do you perform background checks on all the tutors?
                    </div> <div class="content">
                        <p class="transition ">
                            We do our best to ensure we hire the best candidates for the job. However, as in all cases, we recommend that you interview your selected tutors and/or meet with them in a public place for the first time as a safety measure.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>