@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .row {
        display: flex; /* equal height of the children */
    }

    .col {
        flex: 1; /* additionally, equal width */
        padding: 1em;
        border: none;
    }

    .card-img-top {
        max-height: 100px;
        min-height: 100px;
    }
</style>


<link href="~/Content/jquery-ui.css" rel="stylesheet" />

@*Banner*@
<div class="index-page">
    <div class="">
        @{ Html.RenderAction("MenuBanner", "Catalog"); }
    </div>
</div>

@*Portfolio*@
<div class="portfolio-content portfolio-4">
    <div id="js-filters-full-width" class="cbp-l-filters-alignCenter">
        @*<div data-filter="*" class="cbp-filter-item-active cbp-filter-item">
                ALL
                <div class="cbp-filter-counter"></div>
            </div> /*@
        <div data-filter=".identity" class="cbp-filter-item">
            Popular
            <div class="cbp-filter-counter"></div>
        </div> /
        <div data-filter=".web-design" class="cbp-filter-item">
            Academic Tutoring
            <div class="cbp-filter-counter"></div>
        </div> /
        <div data-filter=".graphic" class="cbp-filter-item">
            Language
            <div class="cbp-filter-counter"></div>
        </div> /
        <div data-filter=".logos" class="cbp-filter-item">
            Music
            <div class="cbp-filter-counter"></div>
        </div> /
        <div data-filter=".motion" class="cbp-filter-item">
            Performing Arts
            <div class="cbp-filter-counter"></div>
        </div>
    </div>
    <div id="js-grid-full-width" class="cbp">
        <div class="cbp-item identity logos">
            <a href="~/Content/assets/global/img/portfolio/1200x900/01.jpg" class="cbp-caption cbp-lightbox" data-title="Dashboard<br>by Paul Flavius Nechita">
                <div class="cbp-caption-defaultWrap">
                    <img src="~/Content/assets/global/img/portfolio/600x600/21.jpg" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignLeft">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Dashboard</div>
                            <div class="cbp-l-caption-desc">by Paul Flavius Nechita</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="cbp-item web-design">
            <a href="~/Content/assets/global/img/portfolio/1200x900/1.jpg" class="cbp-caption cbp-lightbox" data-title="Client chat app WIP<br>by Paul Flavius Nechita">
                <div class="cbp-caption-defaultWrap">
                    <img src="~/Content/assets/global/img/portfolio/600x600/22.jpg" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignLeft">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Client chat app WIP</div>
                            <div class="cbp-l-caption-desc">by Paul Flavius Nechita</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="cbp-item motion identity">
            <a href="~/Content/assets/global/img/portfolio/1200x900/02.jpg" class="cbp-caption cbp-lightbox" data-title="World Clock Widget<br>by Paul Flavius Nechita">
                <div class="cbp-caption-defaultWrap">
                    <img src="~/Content/assets/global/img/portfolio/600x600/23.jpg" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignLeft">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">World Clock Widget</div>
                            <div class="cbp-l-caption-desc">by Paul Flavius Nechita</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="cbp-item identity graphic">
            <a href="~/Content/assets/global/img/portfolio/1200x900/2.jpg" class="cbp-caption cbp-lightbox" data-title="Website Lightbox<br>by Paul Flavius Nechita">
                <div class="cbp-caption-defaultWrap">
                    <img src="~/Content/assets/global/img/portfolio/600x600/24.jpg" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignLeft">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Website Lightbox</div>
                            <div class="cbp-l-caption-desc">by Paul Flavius Nechita</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="cbp-item motion logos">
            <a href="~/Content/assets/global/img/portfolio/1200x900/03.jpg" class="cbp-caption cbp-lightbox" data-title="Skateshop Website<br>by Paul Flavius Nechita">
                <div class="cbp-caption-defaultWrap">
                    <img src="~/Content/assets/global/img/portfolio/600x600/25.jpg" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignLeft">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Skateshop Website</div>
                            <div class="cbp-l-caption-desc">by Paul Flavius Nechita</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="cbp-item web-design">
            <a href="~/Content/assets/global/img/portfolio/1200x900/3.jpg" class="cbp-caption cbp-lightbox" data-title="10 Navigation Bars<br>by Paul Flavius Nechita">
                <div class="cbp-caption-defaultWrap">
                    <img src="~/Content/assets/global/img/portfolio/600x600/26.jpg" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignLeft">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">10 Navigation Bars</div>
                            <div class="cbp-l-caption-desc">by Paul Flavius Nechita</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="cbp-item web-design graphic">
            <a href="~/Content/assets/global/img/portfolio/1200x900/4.jpg" class="cbp-caption cbp-lightbox" data-title="Events and  More<br>by Tiberiu Neamu">
                <div class="cbp-caption-defaultWrap">
                    <img src="~/Content/assets/global/img/portfolio/600x600/27.jpg" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignLeft">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Events and More</div>
                            <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="cbp-item graphic logos">
            <a href="~/Content/assets/global/img/portfolio/1200x900/05.jpg" class="cbp-caption cbp-lightbox" data-title="WhereTO App<br>by Tiberiu Neamu">
                <div class="cbp-caption-defaultWrap">
                    <img src="~/Content/assets/global/img/portfolio/600x600/28.jpg" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignLeft">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">WhereTO App</div>
                            <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="cbp-item graphic motion">
            <a href="~/Content/assets/global/img/portfolio/1200x900/5.jpg" class="cbp-caption cbp-lightbox" data-title="Bolt UI<br>by Tiberiu Neamu">
                <div class="cbp-caption-defaultWrap">
                    <img src="~/Content/assets/global/img/portfolio/600x600/29.jpg" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignLeft">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Bolt UI</div>
                            <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="cbp-item graphic">
            <a href="~/Content/assets/global/img/portfolio/1200x900/06.jpg" class="cbp-caption cbp-lightbox" data-title="iDevices<br>by Tiberiu Neamu">
                <div class="cbp-caption-defaultWrap">
                    <img src="~/Content/assets/global/img/portfolio/600x600/30.jpg" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignLeft">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">iDevices</div>
                            <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="cbp-item graphic logos">
            <a href="~/Content/assets/global/img/portfolio/1200x900/07.jpg" class="cbp-caption cbp-lightbox" data-title="Seemple* Music for iPad<br>by Tiberiu Neamu">
                <div class="cbp-caption-defaultWrap">
                    <img src="~/Content/assets/global/img/portfolio/600x600/32.jpg" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignLeft">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Seemple* Music for iPad</div>
                            <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="cbp-item graphic logos">
            <a href="~/Content/assets/global/img/portfolio/1200x900/7.jpg" class="cbp-caption cbp-lightbox" data-title="Drag 2 Upload ~ Widget<br>by Tiberiu Neamu">
                <div class="cbp-caption-defaultWrap">
                    <img src="~/Content/assets/global/img/portfolio/600x600/33.jpg" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignLeft">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Drag 2 Upload ~ Widget</div>
                            <div class="cbp-l-caption-desc">by Tiberiu Neamu</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>

<section id="HowItWorks" class="Landing Grain" style="text-align:center; background-color:#f5f5f5;">
    <div class="PageDesc">
        <h3 class="LightWeight Large">How it Works</h3>
        <h4 class="LightWeight ExtraSmall">
            From finding the perfect teacher to managing payments, scheduling
            and tracking your progress, we take care of all the details, so you can focus on learning.
            <a href="/students/how-it-works">Learn More</a>
        </h4>
    </div>

    <div class="Container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="ImageColumn Search">
                        <div class="Image FitImage">
                            <picture class="Lazy IsLoaded"><img src="https://prod-takelessons.netdna-ssl.com/images/public/landing/howItWorks/search.jpg" alt="Search" class="ImageSlideIn" style="display: block;"></picture>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="TextColumn">
                        <h4 class="Small">Search for a teacher</h4>
                        <h5 class="Small LightWeight">
                            Compare hundreds of teachers based on the criteria that matter to you,
                            including background checks, age and experience.
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="Container Reverse  margin-top-15">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="ImageColumn ScheduleYourLessons">
                        <div class="Image FitImage">
                            <picture class="Lazy IsLoaded"><img src="https://prod-takelessons.netdna-ssl.com/images/public/landing/howItWorks/getStarted.jpg" alt="GetStarted" class="ImageSlideIn" style="display: block;"></picture>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="TextColumn">
                        <h4 class="Small">Schedule your lessons</h4>
                        <h5 class="Small LightWeight">
                            When you've found the perfect match, schedule your lessons online
                            using the teacher's real-time availability.
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="Container  margin-top-15">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="ImageColumn ConnectTeacher">
                        <div class="Image FitImage">
                            <picture class="Lazy IsLoaded"><img src="https://prod-takelessons.netdna-ssl.com/images/public/landing/howItWorks/browseListings.jpg" alt="BrowseListings" class="ImageSlideIn" style="display: block;"></picture>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="TextColumn">
                        <h4 class="Small">Connect with your teacher</h4>
                        <h5 class="Small LightWeight">
                            Your teacher will welcome you with a personalized curriculum to meet
                            your specific goals and you'll be able to manage your entire schedule
                            through our free online account.
                        </h5>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <div class="PageDesc">
        <h3 class="LightWeight Large">Connect Locally or Online</h3>
    </div>
    <div class="Container">
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-6">
                    <div class="Content Local">
                        <div class="ImageColumn">
                            <div class="Image FitImage">
                                <picture class="Lazy IsLoaded"><img src="https://prod-takelessons.netdna-ssl.com/images/public/landing/onlineLocal/local.png" alt="Local" class="ImageSlideIn" style="display: block;"></picture>
                            </div>
                        </div>

                        <div class="TextColumn">
                            <h4 class="Small"><a href="/local">Local Lessons</a></h4>
                            <h5 class="Small LightWeight">
                                No matter where you live, chances are we can introduce you to an
                                amazing teacher in your neighborhood. You can take lessons in the
                                privacy of your own home or at your teacher's location.
                            </h5>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="Content Reverse Online">
                        <div class="ImageColumn">
                            <div class="Image FitImage">
                                <picture class="Lazy IsLoaded"><img src="https://prod-takelessons.netdna-ssl.com/images/public/landing/onlineLocal/online.png" alt="Online" class="ImageSlideIn" style="display: block;"></picture>
                            </div>
                        </div>
                        <div class="TextColumn">
                            <h4 class="Small"><a href="/online">Online Lessons</a></h4>
                            <h5 class="Small LightWeight">
                                What if your dream teacher is on the other side of the country? No
                                problem. You can meet with your teacher online using a webcam on
                                your computer.
                            </h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>



<section id="TeacherCTA" class="Landing">
    <div class="Container">
        <div class="PageDesc">
            <h3 class="Large NormalWeight">Are You a Teacher?</h3>
            <h4 class="ExtraSmall LightWeight">
                Find out how Gradexl can help you grow and manage your business
            </h4>
        </div>
        <div>
            <a class="Button Green" href="/teachers">Learn More</a>
        </div>
    </div>
</section>