@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .row {
        display: flex; /* equal height of the children */
    }

    .col {
        flex: 1; /* additionally, equal width */
        padding: 1em;
        border: none;
    }

    .card-img-top {
        max-height: 100px;
        min-height: 100px;
    }
</style>


<link href="~/Content/jquery-ui.css" rel="stylesheet" />

@*Banner*@
<div class="index-page">
    <div class="">
        @{ Html.RenderAction("MenuBanner", "Catalog"); }
    </div>
</div>


@*Portfolio*@
@{ Html.RenderAction("Portfolio", "Catalog"); }


@*How it Works*@


<section id="TeacherCTA" class="Landing">
    <div class="Container">
        <div class="PageDesc">
            <h3 class="Large NormalWeight">Are You a Teacher?</h3>
            <h4 class="ExtraSmall LightWeight">
                Find out how Gradexl can help you grow and manage your business
            </h4>
        </div>
        <div>
            <a class="Button Green" href="/teachers">Learn More</a>
        </div>
    </div>
</section>