@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .row {
        display: flex; /* equal height of the children */
    }

    .col {
        flex: 1; /* additionally, equal width */
        padding: 1em;
        border: none;
    }

    .card-img-top {
        max-height: 100px;
        min-height: 100px;
    }
</style>


<link href="~/Content/jquery-ui.css" rel="stylesheet" />

@*Banner*@
<div class="index-page">
    <div class="">
        @{ Html.RenderAction("MenuBanner", "Catalog"); }
    </div>
</div>

<section class="tg-main-section tg-haslayout tg-parallaximg home_page_header_image_section mainslideshow-height" data-appear-top-offset="600" data-parallax="scroll"
         data-image-src="https://www.superiorlearning.ca/assets/front/images/parallax/children.jpg" style="height: 817px;">

    <div class="homepage_slider mobilehide" style="position: relative;">
        <img src="/Content/images/ShikhaiImages/pic-01.jpg" class="cycle-slide cycle-sentinel" style="position: static; top: 0px; left: 0px; z-index: 100; opacity: 1;
                display: block; visibility: hidden; height: 817px;">


        <img src="https://www.superiorlearning.ca/assets/front/images/slider/image1.jpg" class="cycle-slide" style="position: absolute; top: 0px; left: 0px; z-index: 100; opacity: 0; display: block;
            visibility: hidden; height: 817px;"><img src="https://www.superiorlearning.ca/assets/front/images/slider/image2.jpg" class="cycle-slide cycle-slide-active" style="position: absolute; top: 0px;
                left: 0px; z-index: 99; visibility: visible; height: 817px; opacity: 1; display: block;">
        <img src="https://www.superiorlearning.ca/assets/front/images/slider/image3.jpg" class="cycle-slide" style="position: absolute; top: 0px; left: 0px; z-index: 97; visibility: hidden; height:
            817px; opacity: 0; display: block;">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <div class="tg-sectionhead">
                    <h2>Learning has never been this easy!</h2>
                    <h3>Find Private &amp; Affordable Tutoring in the Greater Toronto Area!</h3>
                </div>
                <div class="homeage_selectors text-center">
                    <div class="tri_button " style="background-color:cornflowerblue;"> @*<div class="tri_button active">*@
                            <img src="https://www.superiorlearning.ca/assets/front/images/tutor-inperson.png">
                            <span class="head">In-person Tutoring</span>
                            <span class="mobilehide">Register As Student</span>
                            <span class="arrow"></span>
                        </div>
                        <div class="tri_button">
                            <a href="/Teachers/Index">
                                <img src="https://www.superiorlearning.ca/assets/front/images/tutor-become.png">
                                <span class="head">Become a Tutor</span>
                                <span class="mobilehide">Register As Teacher</span>
                                <span class="arrow"></span>
                            </a>
                        </div>
                    </div>
            </div>
        </div>
        <div class="row homepage_search_form_section">
            <div class="col-md-11 col-md-offset-1">
                    @{ Html.RenderAction("HomePageSearch", "Catalog"); }
            </div>
        </div>
    </div>
</section>


@*Categories*@
@{ Html.RenderAction("LessonsPortfolio", "Catalog"); }

@*Products*@

@{ Html.RenderAction("ProductsPortfolio", "Catalog"); }


@*Easy as*@

@{ Html.RenderAction("EasyAs123", "Catalog"); }

@*testimonial*@

@{ Html.RenderAction("Testimonial", "Catalog"); }

@*are you teacher*@
<section id="TeacherCTA" class="Landing">
    <div class="Container">
        <div class="PageDesc">
            <h3 class="Large NormalWeight">Are You a Teacher?</h3>
            <h4 class="ExtraSmall LightWeight">
                Find out how Gradexl can help you grow and manage your business
            </h4>
        </div>
        <div>
            <a class="Button Green" href="/teachers">Learn More</a>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        $(".owl-carousel").owlCarousel();
    });
</script>