<main id="tg-main" class="tg-main tg-haslayout">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="ui sidebar_nav vertical pointing menu">
                    <a class="item " href="https://www.superiorlearning.ca/about/why-us">
                        Why Us
                        <i class="fa fa-angle-right pull-right"></i>
                    </a>
                    <a class="item  " href="https://www.superiorlearning.ca/about/how-we-work">
                        How We Work
                        <i class="fa fa-angle-right pull-right"></i>
                    </a>
                    <a class="item active " href="https://www.superiorlearning.ca/about/faq-for-students">
                        FAQ for Students
                        <i class="fa fa-angle-right pull-right"></i>
                    </a>
                    <a class="item  " href="https://www.superiorlearning.ca/about/faq-for-tutors">
                        FAQ for Tutors
                        <i class="fa fa-angle-right pull-right"></i>
                    </a>
                    <a class="item  " href="https://www.superiorlearning.ca/about/testimonials">
                        Testimonials
                        <i class="fa fa-angle-right pull-right"></i>
                    </a>
                </div>
            </div>
            <div id="tg-wrapper" class="tg-wrapper tg-haslayout">

                <div class="beta_notify_wrapper">
                    <div class="container text-center">
                        <p>
                            <span>
                                Welcome to the Beta Version of Superior Learning. We are adding new
                                features every day!
                            </span><a href="/contact" class="btn">Send Feedback!</a>
                        </p>
                    </div>
                    <div class="close_notify_wrapper"><i class="fa fa-close"></i></div>
                </div>
                <header id="tg-header" class="tg-header tg-haslayout ">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <strong class="tg-logo">
                                    <a href="https://www.superiorlearning.ca"><img src="https://www.superiorlearning.ca/assets/front/images/logo.png" alt="image description"></a>
                                </strong>
                                <div class="header_right_navs">
                                    <div class="top_nav">
                                        <nav id="tg-top-nav" class="tg-nav">
                                        </nav>
                                    </div>
                                    <div class="tg-navigationarea">
                                        <nav id="tg-nav" class="tg-nav">
                                            <div class="navbar-header">
                                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tg-navigation" aria-expanded="false">
                                                    <span class="sr-only">Toggle navigation</span>
                                                    <span class="icon-bar"></span>
                                                    <span class="icon-bar"></span>
                                                    <span class="icon-bar"></span>
                                                </button>
                                            </div>
                                            <div id="tg-navigation" class="tg-navigation collapse navbar-collapse">
                                                <ul>
                                                    <li class="tg-hasdropdown have_cap">
                                                        <span class="tg-dropdowarrow"><i class="fa fa-angle-down"></i></span>
                                                        <a href="#" class="active">
                                                            About
                                                            <span class="caret"></span>
                                                        </a>
                                                        <ul class="tg-dropdownmenu">
                                                            <li><a href="https://www.superiorlearning.ca/about/why-us">Why Us</a></li>
                                                            <li><a href="https://www.superiorlearning.ca/about/how-we-work">How We Work</a></li>
                                                            <li><a href="https://www.superiorlearning.ca/about/faq-for-students">FAQ for Students</a></li>
                                                            <li><a href="https://www.superiorlearning.ca/about/faq-for-tutors">FAQ for Tutors</a></li>
                                                            <li><a href="https://www.superiorlearning.ca/about/testimonials"> Testimonials</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="tg-hasdropdown have_cap">
                                                        <span class="tg-dropdowarrow"><i class="fa fa-angle-down"></i></span>
                                                        <a href="#" class="find_a_tutor ">Find a Tutor <span class="caret"></span></a>
                                                        <ul class="tg-dropdownmenu mega-menu">

                                                            <div class="menu-item">
                                                                <strong>By Subject</strong>
                                                                <ul class="show_hidden_major_wrap">
                                                                    <li><a href="https://www.superiorlearning.ca/tutors?subject=english|major">English</a></li>
                                                                    <li><a href="https://www.superiorlearning.ca/tutors?subject=language|major">Language</a></li>
                                                                    <li><a href="https://www.superiorlearning.ca/tutors?subject=math|major">Math</a></li>
                                                                    <li><a href="https://www.superiorlearning.ca/tutors?subject=music|major">Music</a></li>
                                                                    <li><a href="https://www.superiorlearning.ca/tutors?subject=science|major">Science</a></li>
                                                                    <li><a href="https://www.superiorlearning.ca/tutors?subject=social-science|major">Social Science</a></li>
                                                                    <li><a href="https://www.superiorlearning.ca/tutors?subject=other|major">Other</a></li>
                                                                </ul>
                                                            </div>
                                                            <div class="menu-item">
                                                                <strong>By Location</strong>
                                                                <ul class="show_hidden_cities_wrap">
                                                                    <li><a href="https://www.superiorlearning.ca/tutors?city=ajax">Ajax Tutors</a></li>
                                                                    <li><a href="https://www.superiorlearning.ca/tutors?city=aurora">Aurora Tutors</a></li>
                                                                    <li><a href="https://www.superiorlearning.ca/tutors?city=brampton">Brampton Tutors</a></li>
                                                                    <li><a href="https://www.superiorlearning.ca/tutors?city=east-york">East York Tutors</a></li>
                                                                    <li><a href="https://www.superiorlearning.ca/tutors?city=etobicoke">Etobicoke Tutors</a></li>
                                                                    <li><a href="https://www.superiorlearning.ca/tutors?city=markham">Markham Tutors</a></li>
                                                                    <li><a href="https://www.superiorlearning.ca/tutors?city=mississauga">Mississauga Tutors</a></li>
                                                                    <li><a href="https://www.superiorlearning.ca/tutors?city=newmarket">Newmarket Tutors</a></li>
                                                                    <li><a href="https://www.superiorlearning.ca/tutors?city=north-york">North York Tutors</a></li>
                                                                    <li><a href="https://www.superiorlearning.ca/tutors?city=oakville">Oakville Tutors</a></li>
                                                                    <li><a href="https://www.superiorlearning.ca/tutors?city=pickering">Pickering Tutors</a></li>
                                                                    <li><a href="https://www.superiorlearning.ca/tutors?city=richmond-hill">Richmond Hill Tutors</a></li>
                                                                </ul>
                                                            </div>
                                                        </ul>
                                                    </li>
                                                    <li class=" have_cap">
                                                        <a href="https://www.superiorlearning.ca/become-a-tutor" class="">Become a Tutor</a>
                                                    </li>
                                                    <li class=" have_cap">
                                                        <a href="/contact" class="">Contact</a>
                                                    </li>
                                                    <li class="user_account first login">
                                                        <a class="load_signin_overlay">Login</a>

                                                    </li>
                                                    <li class="user_account signup">
                                                        <a class="load_sighnup_choice_modal">Sign Up</a>

                                                    </li>
                                                </ul>
                                            </div>
                                        </nav>
                                    </div>
                                    <div class="clear clearfix"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>

                <div id="tg-innerbanner" class="tg-innerbanner tg-dashboardinnerbanner tg-haslayout tg-parallaximg" data-appear-top-offset="600" data-parallax="scroll" data-image-src="https://www.superiorlearning.ca/assets/front/images/parallax/bgparallax-12.jpg">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 col-xs-12">
                                <div class="tg-innerbannercontent">
                                    <div class="tg-pagehead">
                                        <div class="text-center header_breadcrumb_wrap">
                                            <h2>Testimonials</h2>
                                            <ul class="breadcrumb">
                                                <li><a href="https://www.superiorlearning.ca">Home</a></li>
                                                <li><span>Testimonials</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <main id="tg-main" class="tg-main tg-haslayout">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="ui sidebar_nav vertical pointing menu">
                                    <a class="item " href="https://www.superiorlearning.ca/about/why-us">
                                        Why Us
                                        <i class="fa fa-angle-right pull-right"></i>
                                    </a>
                                    <a class="item  " href="https://www.superiorlearning.ca/about/how-we-work">
                                        How We Work
                                        <i class="fa fa-angle-right pull-right"></i>
                                    </a>
                                    <a class="item  " href="https://www.superiorlearning.ca/about/faq-for-students">
                                        FAQ for Students
                                        <i class="fa fa-angle-right pull-right"></i>
                                    </a>
                                    <a class="item  " href="https://www.superiorlearning.ca/about/faq-for-tutors">
                                        FAQ for Tutors
                                        <i class="fa fa-angle-right pull-right"></i>
                                    </a>
                                    <a class="item active " href="https://www.superiorlearning.ca/about/testimonials">
                                        Testimonials
                                        <i class="fa fa-angle-right pull-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <h4>Testimonials</h4>
                                <div class="tutor_review_section tutor_info_section">
                                    <div class="row testimonials_listing_wrapper">
                                        <div class="col-md-12 testimonials_right">
                                            <div class="pull-left rating_name">
                                                <strong>D. Purisic</strong>
                                            </div>
                                            <div class="pull-right">
                                                <div class="rating_wrapper"><a><i class="fa fa-star"></i></a><a><i class="fa fa-star"></i></a><a><i class="fa fa-star"></i></a><a><i class="fa fa-star"></i></a><a><i class="fa fa-star"></i></a></div>
                                            </div>
                                            <div class="rating_message">My son Kenan has been receiving tutoring sessions from Superior Leaning for almost 1 ½ years now. He struggled with Math and I have tried other tutor services in the past but none of the other services helped him much. Once Ken started with this company, he immediately improved and had greater motivation than with any other company we used in the past. He even received a letter from his teacher congratulating him on a 12% overall average improvement from last year's report card average!</div>
                                        </div>
                                    </div>
                                    <div class="row testimonials_listing_wrapper">
                                        <div class="col-md-12 testimonials_right">
                                            <div class="pull-left rating_name">
                                                <strong>C. Morra</strong>
                                            </div>
                                            <div class="pull-right">
                                                <div class="rating_wrapper"><a><i class="fa fa-star"></i></a><a><i class="fa fa-star"></i></a><a><i class="fa fa-star"></i></a><a><i class="fa fa-star"></i></a><a><i class="fa fa-star"></i></a></div>
                                            </div>
                                            <div class="rating_message">I am very pleased to write this for Superior Learning. They have worked with both of my children since August 2016 and we have nothing but positive things to say about them. They are very respectful, conscientious, professional, and easy going. I feel that my kids are having a higher confidence as they walk into the classroom with more knowledge on that particular topic. I would highly recommend Superior Learning to anyone looking for high quality private tutoring.</div>
                                        </div>
                                    </div>
                                    <div class="row testimonials_listing_wrapper">
                                        <div class="col-md-12 testimonials_right">
                                            <div class="pull-left rating_name">
                                                <strong>V. Andreacchi</strong>
                                            </div>
                                            <div class="pull-right">
                                                <div class="rating_wrapper"><a><i class="fa fa-star"></i></a><a><i class="fa fa-star"></i></a><a><i class="fa fa-star"></i></a><a><i class="fa fa-star"></i></a><a><i class="fa fa-star"></i></a></div>
                                            </div>
                                            <div class="rating_message">I'm more than proud to write this for Superior Learning. They have been tutoring my kids, Rocco and Diana, on a weekly basis for the past year and half. My kids have improved academically and most importantly their confidence in Math and other subjects has grown tremendously. Academics is truly important to both our children and we are grateful for all the positive reinforcement Superior Learning has instilled in our children.</div>
                                        </div>
                                    </div>
                                    <div class="row testimonials_listing_wrapper">
                                        <div class="col-md-12 testimonials_right">
                                            <div class="pull-left rating_name">
                                                <strong>S. Ghobadi</strong>
                                            </div>
                                            <div class="pull-right">
                                                <div class="rating_wrapper"><a><i class="fa fa-star"></i></a><a><i class="fa fa-star"></i></a><a><i class="fa fa-star"></i></a><a><i class="fa fa-star"></i></a><a><i class="fa fa-star"></i></a></div>
                                            </div>
                                            <div class="rating_message">Superior Learning has been of great help to my daughter. My daughter struggled a bit with math and never felt confident enough after her tests. I reached out to Superior Learning and they have been her tutor since the Summer time. They have helped her understand the question properly first before answering it. Now that she understands the question properly, she knows how to go about answering it and using the right methods. After her tests when I ask her how her test went, now she proudly and confidently says "I did really well." And this is also evident in the grades she has been receiving. Overall, I am very happy to have found Superior Learning and will continue to send my daughter to them as long as she needs it. I have and will still continue to recommend Superior Learning to all my friends.</div>
                                        </div>
                                    </div>
                                    <div class="row testimonials_listing_wrapper">
                                        <div class="col-md-12 testimonials_right">
                                            <div class="pull-left rating_name">
                                                <strong>E. Covassi</strong>
                                            </div>
                                            <div class="pull-right">
                                                <div class="rating_wrapper"><a><i class="fa fa-star"></i></a><a><i class="fa fa-star"></i></a><a><i class="fa fa-star"></i></a><a><i class="fa fa-star"></i></a><a><i class="fa fa-star"></i></a></div>
                                            </div>
                                            <div class="rating_message">After several attempts of tutoring companies, I am pleased to say that Superior Learning has really helped my son, Mathew, with Math. Since March 2016, Mathew has continued to use this company for help, and looks forward to each session. They make learning easy to understand and explain things well and at my son's pace. They also follow-up after a test, to see if Mathew has any questions or concerns. I would refer Superior Learning to anyone who is looking for an excellent tutoring service.</div>
                                        </div>
                                    </div>
                                    <div class="row testimonials_listing_wrapper">
                                        <div class="col-md-12 testimonials_right">
                                            <div class="pull-left rating_name">
                                                <strong>D. Zenobio</strong>
                                            </div>
                                            <div class="pull-right">
                                                <div class="rating_wrapper"><a><i class="fa fa-star"></i></a><a><i class="fa fa-star"></i></a><a><i class="fa fa-star"></i></a><a><i class="fa fa-star"></i></a><a><i class="fa fa-star"></i></a></div>
                                            </div>
                                            <div class="rating_message">Superior Learning has been tutoring one of my daughters for Grade 9 and 10 Math for over 6 months. They have helped her tremendously with the understanding and application of Math concepts. In addition, they have made her more accountable and confident. They are professional and courteous and I would have no hesitation in recommending them to others.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>

                <footer id="tg-footer" class="tg-footer tg-haslayout">
                    <div class="tg-infobox">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <img src="https://www.superiorlearning.ca/assets/front/images/flogo.png">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 stay_updated_block">
                                    <div class="">
                                        <div class="tg-title text-center">
                                            <h3>Stay Updated with our Newsletter</h3>
                                        </div>
                                        <form method="POST" action="https://www.superiorlearning.ca/submit-mailchimp-form" accept-charset="UTF-8" class="tg-newsletter">
                                            <input name="_token" type="hidden" value="L0nXCVTF0ZzHBsik2tOSZYyXXw4HY86xWPSB5w5k">
                                            <fieldset>
                                                <input type="email" class="form-control" name="email" placeholder="Your Email" style="color:#fff;">
                                                <button type="submit" class="submit"><i class="fa fa-paper-plane-o"></i></button>
                                            </fieldset>
                                        </form>
                                    </div>
                                </div>
                                <div class="tg-fcols">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tg-quicklinks">
                        <div class="container">
                            <div class="row">
                                <div class="tg-fcols footer_commun">
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="">
                                            <div class="tg-title tg-icon">
                                                <h3 class="">COMPANY</h3>
                                            </div>
                                            <ul>
                                                <li><a href="/about/why-us">About Us</a></li>
                                                <li><a href="/about/how-we-work">How we work</a></li>
                                                <li><a href="/about/testimonials">Testimonials</a></li>
                                                <li><a href="/become-a-tutor">Become a Tutor</a></li>
                                                <li><a href="/contact">Contact Us</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="">
                                            <div class="tg-title tg-icon">
                                                <h3 class="">RESOURCES</h3>
                                            </div>
                                            <ul>
                                                <li><a href="/about/faq-for-students">Student FAQ</a></li>
                                                <li><a href="/about/faq-for-tutors">Tutor FAQ</a></li>

                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="">
                                            <div class="tg-title tg-icon">
                                                <h3 class="">TERMS &amp; CONDITIONS</h3>
                                            </div>
                                            <ul>
                                                <li><a href="/terms">Terms of Use</a></li>
                                                <li><a href="/terms/privacy-policy">Privacy Policy</a></li>
                                                <li><a href="/terms/student-payment-policy">Student Payment Policy</a></li>
                                                <li><a href="/terms/tutor-payment-policy">Tutor Payment Policy</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="">
                                            <div class="tg-title tg-icon">
                                                <h3 class="">CONNECT</h3>
                                            </div>
                                            <ul class="social_icons">
                                                <li class=""><a href="https://www.facebook.com/superiorlearning"><i class="fa fa-facebook"></i></a></li>
                                                <li class=""><a href="https://www.instagram.com/superior.learning/"><i class="fa fa-instagram"></i></a></li>
                                                <li class=""><a href="https://www.linkedin.com/company-beta/10087736"><i class="fa fa-linkedin"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tg-footerbar footer_subject_listing">
                        <div class="container">
                            <div class="row">
                                <div class="tg-fcols footer_commun sub_heading_wraper">
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="">
                                            <div class="tg-title tg-icon sub_heading">
                                                <h3 class="">TUTORS BY SUBJECT</h3>
                                            </div>
                                            <ul>
                                                <li><a href="https://www.superiorlearning.ca/tutors?subject=english|major">English</a></li>
                                                <li><a href="https://www.superiorlearning.ca/tutors?subject=language|major">Language</a></li>
                                                <li><a href="https://www.superiorlearning.ca/tutors?subject=math|major">Math</a></li>
                                                <li><a href="https://www.superiorlearning.ca/tutors?subject=music|major">Music</a></li>
                                                <li><a href="https://www.superiorlearning.ca/tutors?subject=other|major">Other</a></li>
                                                <li><a href="https://www.superiorlearning.ca/tutors?subject=science|major">Science</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="">
                                            <div class="tg-title tg-icon sub_heading">
                                                <h3 class=""></h3>
                                            </div>
                                            <ul class="second_ul">
                                                <li><a href="https://www.superiorlearning.ca/tutors?subject=social-science|major">Social Science</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-xs-6 clear_left_on_mobile">
                                        <div class="">
                                            <div class="tg-title tg-icon sub_heading">
                                                <h3 class="">TUTORS BY LOCATION</h3>
                                            </div>
                                            <ul>
                                                <li><a href="https://www.superiorlearning.ca/tutors?city=ajax">Ajax Tutors</a></li>
                                                <li><a href="https://www.superiorlearning.ca/tutors?city=aurora">Aurora Tutors</a></li>
                                                <li><a href="https://www.superiorlearning.ca/tutors?city=brampton">Brampton Tutors</a></li>
                                                <li><a href="https://www.superiorlearning.ca/tutors?city=east-york">East York Tutors</a></li>
                                                <li><a href="https://www.superiorlearning.ca/tutors?city=etobicoke">Etobicoke Tutors</a></li>
                                                <li><a href="https://www.superiorlearning.ca/tutors?city=markham">Markham Tutors</a></li>
                                                <li><a href="https://www.superiorlearning.ca/tutors?city=mississauga">Mississauga Tutors</a></li>
                                                <li><a href="https://www.superiorlearning.ca/tutors?city=newmarket">Newmarket Tutors</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-xs-6">
                                        <div class="">
                                            <div class="tg-title tg-icon sub_heading">
                                                <h3 class=""></h3>
                                            </div>
                                            <ul class="second_ul">
                                                <li><a href="https://www.superiorlearning.ca/tutors?city=north-york">North York Tutors</a></li>
                                                <li><a href="https://www.superiorlearning.ca/tutors?city=oakville">Oakville Tutors</a></li>
                                                <li><a href="https://www.superiorlearning.ca/tutors?city=pickering">Pickering Tutors</a></li>
                                                <li><a href="https://www.superiorlearning.ca/tutors?city=richmond-hill">Richmond Hill Tutors</a></li>
                                                <li><a href="https://www.superiorlearning.ca/tutors?city=scarborough">Scarborough Tutors</a></li>
                                                <li><a href="https://www.superiorlearning.ca/tutors?city=toronto">Toronto Tutors</a></li>
                                                <li><a href="https://www.superiorlearning.ca/tutors?city=vaughan">Vaughan Tutors</a></li>
                                                <li><a href="https://www.superiorlearning.ca/tutors?city=york">York Tutors</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tg-footerbar footer_subject_listing">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <span class="tg-copyright">© 2017 Superior Learning, All Rights Reserved.</span>
                                    <nav id="tg-footernav" class="tg-footernav">
                                        <ul>
                                            <li><a href="">Sitemap</a></li>
                                            <li><a href="/terms">Terms of use</a></li>
                                            <li><a href="/terms/privacy-policy">Privacy Policy</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>

                <div id="signup_select_overlay" class="modal fade signup singnup_in_overlay" role="dialog">
                    <div class="modal-dialog">

                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">×</button>
                                <h4 class="modal-title">Sign up for Free</h4>
                            </div>
                            <div class="modal-body">
                                <div class="signup_buttons">
                                    <div><a class="student_signup">I want to be a Student</a></div>
                                    <div><a class="tutor_signup">I want to be a Tutor</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="signup_login_select_overlay" class="modal fade signup singnup_in_overlay" role="dialog">
                    <div class="modal-dialog">

                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">×</button>
                                <h4 class="modal-title">Signup or Login</h4>
                            </div>
                            <div class="modal-body">
                                <div class="signup_buttons">
                                    <div><a class="student_signup">Sign Up for Free</a></div>
                                    <div><a class="load_signin_overlay">Login</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="signin_overlay_modal" class="modal fade signup singnup_in_overlay" role="dialog">
                    <div class="modal-dialog">

                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">×</button>
                                <h4 class="modal-title">Log into your account</h4>
                            </div>
                            <div class="modal-body">
                                <div class="section_content">
                                    <div class="signup_error_message ui red message hidden"></div>
                                    <div class="signup_success_message ui success message hidden"></div>
                                    <div class="alert alert-danger hidden login_error_message"></div>
                                    <form method="POST" action="https://www.superiorlearning.ca/user/do-login" accept-charset="UTF-8" class="ui form big do_login_form_wrapper">
                                        <input name="_token" type="hidden" value="L0nXCVTF0ZzHBsik2tOSZYyXXw4HY86xWPSB5w5k">
                                        <div class="table">
                                            <div class="cell form-group required">
                                                <label>Email Address</label>
                                                <input type="text" name="email" class="login-text form-control" placeholder="Type email here">
                                            </div>
                                            <div class="cell form-group required">
                                                <label>Password</label>
                                                <input type="password" name="password" class="login-text form-control" placeholder="Password">
                                            </div>
                                            <div class="cell"><input type="submit" class="tg-btn" name="login-btn" value="Login"></div>
                                            <br>
                                            <p>
                                                <a class="load_forget_password_overlay">Forgot your password?</a>
                                            </p>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="student_signup_overlay" class="modal fade signup singnup_in_overlay" role="dialog">
                    <div class="modal-dialog">

                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">×</button>
                                <h4 class="modal-title">Sign up for Free</h4>
                            </div>
                            <div class="modal-body">
                                <div class="section_content">
                                    <div class="signup_error_message alert alert-danger hidden"></div>
                                    <div class="signup_success_message alert alert-success hidden"></div>
                                    <form method="POST" action="https://www.superiorlearning.ca/student/register" accept-charset="UTF-8" class="ui form do_register_form_wrapper big student_register">
                                        <input name="_token" type="hidden" value="L0nXCVTF0ZzHBsik2tOSZYyXXw4HY86xWPSB5w5k">
                                        <div class="table">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="cell form-group field required">
                                                        <label>First Name</label>
                                                        <input type="text" name="first_name" class="form-control" placeholder="First Name">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="cell form-group field required">
                                                        <label>Last Name</label>
                                                        <input type="text" name="last_name" class="form-control" placeholder="Last Name">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12">
                                                    <div class="cell form-group field required">
                                                        <label>Email</label>
                                                        <input type="text" name="email" class="form-control " placeholder="Email">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="cell  form-group field required">
                                                        <label>Password</label>
                                                        <input type="password" name="student_password" class="form-control register_pass" placeholder="Password">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="cell  form-group field required">
                                                        <label>Confirm Password</label>
                                                        <input type="password" name="cpassword" class="form-control register_cpass" placeholder="Password">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 col-xs-12">
                                                    <div class="form-group field">
                                                        <label>Address</label>
                                                        <div class="ui labeled input">
                                                            <input id="autocomplete1" onfocus="geolocate()" placeholder="Address" class="form-control get_my_current_location_field" type="text" name="address">

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-xs-12">
                                                    <div class="form-group field">
                                                        <label>Phone</label>
                                                        <div class="ui labeled input">
                                                            <input placeholder="333-1234567" class="validate_phone form-control" type="text" name="phone">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-xs-12">
                                                    <div class="form-group field">
                                                        <label>Postal Code</label>
                                                        <div class="ui labeled input">
                                                            <input placeholder="Postal Code" class="form-control" type="text" name="postal">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 col-xs-12">
                                                    <div class="form-group field ">
                                                        <div class="tg-subjectcheckbox">
                                                            <span class="tg-checkbox">
                                                                <input type="checkbox" id="newsletter_chk" name="newsletter_chk" value="1">
                                                                <label for="newsletter_chk" style="text-transform:initial;">Stay updated with our newsletter and get access to our latest offers. </label>
                                                            </span>
                                                            <br> <br>
                                                            <label style="text-transform:initial;"> By signing up, I agree to Superior Learning's <a href="/terms" title="Terms of use" target="_blank">Terms of Use</a>, <a href="/terms/privacy-policy" title="Privcy Policy" target="_blank">Privacy Policy</a>, and <a href="/terms/student-payment-policy" title="Student Payment Policy" target="_blank">Student Payment Policy</a></label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4 col-xs-12">
                                                    <div class="cell">
                                                        <input type="submit" class="tg-btn do_register" name="register" value="Register">
                                                    </div>
                                                </div>
                                            </div>
                                            <br>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="tutor_signup_overlay" class="modal fade signup singnup_in_overlay" role="dialog">
                    <div class="modal-dialog">

                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">×</button>
                                <h4 class="modal-title">Sign up as Tutor</h4>
                            </div>
                            <div class="modal-body">
                                <div class="section_content">
                                    <form method="POST" action="https://www.superiorlearning.ca/user/register" accept-charset="UTF-8" class="ui form do_register_form_wrapper tutor_register big">
                                        <input name="_token" type="hidden" value="L0nXCVTF0ZzHBsik2tOSZYyXXw4HY86xWPSB5w5k">
                                        <div class="signup_error_message  alert alert-danger  hidden"></div>
                                        <div class="signup_success_message  alert alert-success hidden"></div>
                                        <div class="table">
                                            <div class="row">
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="cell form-group field required">
                                                        <label>First Name</label>
                                                        <input type="text" name="first_name" class="form-control" placeholder="First Name">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="cell form-group field required">
                                                        <label>Last Name</label>
                                                        <input type="text" name="last_name" class="form-control" placeholder="Last Name">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12">
                                                    <div class="cell form-group field required">
                                                        <label>Email</label>
                                                        <input type="text" name="email" class="form-control " placeholder="Email">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="cell  form-group field required">
                                                        <label>Password</label>
                                                        <input type="password" name="password1" class="form-control register_pass" placeholder="Password">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-sm-12">
                                                    <div class="cell  form-group field required">
                                                        <label>Confirm Password</label>
                                                        <input type="password" name="cpassword1" class="form-control register_cpass" placeholder="Password">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-xs-12">
                                                    <div class="form-group field required">
                                                        <label>Gender</label>
                                                        <div class="tg-select">
                                                            <select class="form-control" name="gender">
                                                                <option value="male"> Male </option>
                                                                <option value="female"> Female </option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-xs-12">
                                                    <div class="form-group field required">
                                                        <label>Year of Birth</label>
                                                        <div class="ui calendar datepicker year_only">
                                                            <div class="tg-select">
                                                                <select name="dob">
                                                                    <option value=""> Year </option>
                                                                    <option value="1953">1953</option>
                                                                    <option value="1954">1954</option>
                                                                    <option value="1955">1955</option>
                                                                    <option value="1956">1956</option>
                                                                    <option value="1957">1957</option>
                                                                    <option value="1958">1958</option>
                                                                    <option value="1959">1959</option>
                                                                    <option value="1960">1960</option>
                                                                    <option value="1961">1961</option>
                                                                    <option value="1962">1962</option>
                                                                    <option value="1963">1963</option>
                                                                    <option value="1964">1964</option>
                                                                    <option value="1965">1965</option>
                                                                    <option value="1966">1966</option>
                                                                    <option value="1967">1967</option>
                                                                    <option value="1968">1968</option>
                                                                    <option value="1969">1969</option>
                                                                    <option value="1970">1970</option>
                                                                    <option value="1971">1971</option>
                                                                    <option value="1972">1972</option>
                                                                    <option value="1973">1973</option>
                                                                    <option value="1974">1974</option>
                                                                    <option value="1975">1975</option>
                                                                    <option value="1976">1976</option>
                                                                    <option value="1977">1977</option>
                                                                    <option value="1978">1978</option>
                                                                    <option value="1979">1979</option>
                                                                    <option value="1980">1980</option>
                                                                    <option value="1981">1981</option>
                                                                    <option value="1982">1982</option>
                                                                    <option value="1983">1983</option>
                                                                    <option value="1984">1984</option>
                                                                    <option value="1985">1985</option>
                                                                    <option value="1986">1986</option>
                                                                    <option value="1987">1987</option>
                                                                    <option value="1988">1988</option>
                                                                    <option value="1989">1989</option>
                                                                    <option value="1990">1990</option>
                                                                    <option value="1991">1991</option>
                                                                    <option value="1992">1992</option>
                                                                    <option value="1993">1993</option>
                                                                    <option value="1994">1994</option>
                                                                    <option value="1995">1995</option>
                                                                    <option value="1996">1996</option>
                                                                    <option value="1997">1997</option>
                                                                    <option value="1998">1998</option>
                                                                    <option value="1999">1999</option>
                                                                    <option value="2000">2000</option>
                                                                    <option value="2001">2001</option>
                                                                    <option value="2002">2002</option>
                                                                    <option value="2003">2003</option>
                                                                    <option value="2004">2004</option>
                                                                    <option value="2005">2005</option>
                                                                    <option value="2006">2006</option>
                                                                    <option value="2007">2007</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 col-xs-12">
                                                    <div class="form-group field required">
                                                        <label>Phone</label>
                                                        <div class="ui labeled input">
                                                            <input placeholder="333-1234567" class="validate_phone form-control" type="text" name="phone">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 col-xs-12">
                                                    <div class="form-group">
                                                        <label>Grade(s) able to tutor</label>
                                                        <div class="tg-select searchable_subjects_wrapper">
                                                            <select name="grade[]" class="ui dropdown searchable_grades" multiple="multiple" data-placeholder="Grade">
                                                                <option value="1">Elementary (Grades 1 - 8)</option>
                                                                <option value="2">Secondary (Grades 9-12)</option>
                                                                <option value="3">Post Secondary (College / University)</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 col-xs-12">
                                                    <div class="form-group ">
                                                        <label>Subject(s) able to tutor </label>
                                                        <div class="tg-select searchable_subjects_wrapper">
                                                            <select name="subject[]" class="ui dropdown searchable_subjects" multiple="multiple" data-placeholder="Subjects">
                                                                <optgroup label="Math">
                                                                    <option value="6">Functions</option>
                                                                    <option value="7">Calculus and Vectors</option>
                                                                    <option value="8">Statistics / Data Management</option>
                                                                    <option value="9">Discrete Math</option>
                                                                    <option value="10">Econometrics</option>
                                                                    <option value="11">Linear Algebra</option>
                                                                    <option value="12">Elementary Math</option>
                                                                    <option value="13">SAT Math</option>
                                                                    <option value="14">GRE Math</option>
                                                                    <option value="15">ACT Math</option>
                                                                    <option value="16">GMAT Math</option>
                                                                    <option value="17">GED Math</option>
                                                                    <option value="18">Geometry</option>
                                                                    <option value="19">Grade 9/10 Math</option>
                                                                    <option value="20">Trigonometry</option>
                                                                    <option value="21">Differential Calculus</option>
                                                                    <option value="22">Integral Calculus</option>
                                                                    <option value="23">Actuarial Science</option>
                                                                    <option value="24">Financial Math</option>
                                                                </optgroup>
                                                                <optgroup label="Science">
                                                                    <option value="25">Biology</option>
                                                                    <option value="26">Chemistry</option>
                                                                    <option value="27">Physics</option>
                                                                    <option value="28">Psychology</option>
                                                                    <option value="29">Elementary Science</option>
                                                                    <option value="30">MCAT</option>
                                                                    <option value="31">PCAT</option>
                                                                    <option value="32">Grade 9/10 Science</option>
                                                                    <option value="33">ACT Science</option>
                                                                    <option value="34">Organic Chemistry</option>
                                                                    <option value="35">Mechanical Engineering</option>
                                                                    <option value="36">Geology</option>
                                                                    <option value="37">Ecology</option>
                                                                    <option value="38">DAT</option>
                                                                    <option value="111">Physiology</option>
                                                                    <option value="112">Anatomy</option>
                                                                </optgroup>
                                                                <optgroup label="Language">
                                                                    <option value="39">French</option>
                                                                    <option value="40">Italian</option>
                                                                    <option value="41">Spanish</option>
                                                                    <option value="42">German</option>
                                                                    <option value="43">Chinese</option>
                                                                    <option value="44">Farsi</option>
                                                                    <option value="45">Arabic</option>
                                                                    <option value="46">Punjabi</option>
                                                                    <option value="47">Hindi</option>
                                                                    <option value="48">Urdu</option>
                                                                    <option value="49">Hebrew</option>
                                                                    <option value="50">Russian</option>
                                                                    <option value="51">Turkish</option>
                                                                    <option value="52">Portuguese</option>
                                                                    <option value="53">Greek</option>
                                                                </optgroup>
                                                                <optgroup label="English">
                                                                    <option value="54">Reading</option>
                                                                    <option value="55">Vocabulary</option>
                                                                    <option value="56">Writing</option>
                                                                    <option value="57">Grammar</option>
                                                                    <option value="58">TOEFL / IELTS</option>
                                                                    <option value="59">ESL/ESOL</option>
                                                                    <option value="60">Spelling</option>
                                                                    <option value="61">GMAT English</option>
                                                                    <option value="62">SAT English</option>
                                                                    <option value="63">GRE English</option>
                                                                    <option value="64">ACT English</option>
                                                                    <option value="65">GED English</option>
                                                                    <option value="66">Elementary English</option>
                                                                </optgroup>
                                                                <optgroup label="Social Science">
                                                                    <option value="76">Geography</option>
                                                                    <option value="77">Civics and Careers</option>
                                                                    <option value="78">Political Science</option>
                                                                    <option value="79">Economics</option>
                                                                    <option value="80">Psychology</option>
                                                                    <option value="81">Sociology</option>
                                                                    <option value="82">Anthropology</option>
                                                                    <option value="83">Archaeology</option>
                                                                    <option value="84">Philosophy</option>
                                                                    <option value="85">World History</option>
                                                                    <option value="86">Canadian History</option>
                                                                    <option value="87">Law</option>
                                                                    <option value="88">Elementary Social Studies</option>
                                                                </optgroup>
                                                                <optgroup label="Music"></optgroup>
                                                                <optgroup label="Other">
                                                                    <option value="67">GMAT</option>
                                                                    <option value="68">GRE</option>
                                                                    <option value="69">SAT</option>
                                                                    <option value="70">ACT</option>
                                                                    <option value="71">LSAT</option>
                                                                    <option value="72">MCAT</option>
                                                                    <option value="73">DAT</option>
                                                                    <option value="74">PCAT</option>
                                                                    <option value="75">VCAT</option>
                                                                    <option value="89">Microsoft Office</option>
                                                                    <option value="90">Computer Science</option>
                                                                    <option value="91">Computer Studies</option>
                                                                    <option value="92">Computer Programming</option>
                                                                    <option value="93">Website Programming</option>
                                                                    <option value="94">Application Programming</option>
                                                                    <option value="95">Finance</option>
                                                                    <option value="96">Economics</option>
                                                                    <option value="97">Accounting</option>
                                                                    <option value="98">Business</option>
                                                                    <option value="99">Career Development</option>
                                                                    <option value="100">String instruments</option>
                                                                    <option value="101">Woodwind instruments</option>
                                                                    <option value="102">Brass instruments</option>
                                                                    <option value="103">Percussion instruments</option>
                                                                    <option value="104">Autism</option>
                                                                    <option value="105">ADD / ADHD</option>
                                                                    <option value="106">Asperger's Syndrome</option>
                                                                    <option value="107">Dyslexia</option>
                                                                    <option value="108">
                                                                        Non-Verbal Learning
                                                                        Disabilities
                                                                    </option>
                                                                    <option value="109">
                                                                        Auditory and Visual
                                                                        Processing Disorders
                                                                    </option>
                                                                    <option value="110">Business</option>
                                                                </optgroup>


                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 col-xs-12" style="margin-top:10px;">
                                                    <div class="form-group field">
                                                        <label>Upload Resume</label>
                                                        <input type="file" name="resume">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12 col-xs-12">
                                                    <div class="form-group field required">
                                                        <div class="tg-subjectcheckbox">
                                                            <span class="tg-checkbox">
                                                                <input type="checkbox" id="agree_terms" name="agree_terms" value="1">
                                                                <label for="agree_terms" style="text-transform:initial;">By clicking this box, I acknowledge that I have read and agree to the <a href="/public/uploads/Tutor-Contract-Agreement.pdf" title="Tutor Contract Agreement" target="_blank">Tutor Contract Agreement.</a> </label>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4 col-xs-12">
                                                    <div class="cell">
                                                        <input type="submit" class="tg-btn do_register" name="register" value="Register">
                                                    </div>
                                                </div>
                                            </div>
                                            <br>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div id="forget_password_overlay" class="modal fade signup forget_password_overlay singnup_in_overlay" role="dialog">
                    <div class="modal-dialog">

                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">×</button>
                                <h4 class="modal-title">Forgot Your Password?</h4>
                            </div>
                            <div class="modal-body">
                                <div class="section_content">
                                    <form method="POST" action="https://www.superiorlearning.ca/forget-password" accept-charset="UTF-8" class="ui form forget_password big">
                                        <input name="_token" type="hidden" value="L0nXCVTF0ZzHBsik2tOSZYyXXw4HY86xWPSB5w5k">
                                        <div class="forget_password_error_message  alert alert-danger  hidden"></div>
                                        <div class="forget_password_success_message  alert alert-success hidden"></div>
                                        <div class="table">
                                            <div class="row">
                                                <div class="col-md-12 col-sm-12">
                                                    <div class="cell form-group field required">
                                                        <label>Email</label>
                                                        <input type="text" name="email" class="form-control " placeholder="Email">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4 col-xs-12">
                                                    <div class="cell">
                                                        <input type="submit" class="tg-btn " name="forget_password" value="Submit">
                                                    </div>
                                                </div>
                                            </div>
                                            <br>

                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>



        </div>
    </div>
</main>